<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- content值表示经过几秒后跳转 -->
	<meta http-equiv="refresh" content="1;url=http://a.app.qq.com/o/simple.jsp?pkgname=com.fawan.news" name="" content="" />
	<title>统计</title>
</head>
<body>
<h1>Hello</h1>
	<!-- 百度统计代码 -->
	<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "https://hm.baidu.com/hm.js?f629854132f3cfafdb620261198d53b0";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
	</script>

</body>
</html>