<div class="bottom">
    <p>京ICP备17035527号-1   CopyRight ©2017 kanfanews,All Rights Reserved. 版权所有 看法(北京)科技有限公司</p>
</div>
<a key ="59cf3d9612c3d5341a29f9c1" logo_size="124x47" logo_type="business" href="http://www.anquan.org" style="bottom: 200px;position: absolute">
    <script src="//static.anquan.org/static/outer/js/aq_auth.js"></script>
</a></div>
<!---统计代码--->
<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "https://hm.baidu.com/hm.js?f629854132f3cfafdb620261198d53b0";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hm, s);
})();
</script>