body, blockquote, fieldset, textarea, button, legend, select,
input, label, table, thead, tbody, tfoot, form, img, pre,
ul, ol, li, dl, dt, dd, tr, th, td, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

body, button, input, select, textarea {
  font: .373333rem/.426666rem "PingFang","\5FAE\8F6F\96C5\9ED1","\5B8B\4F53","Arial Narrow";
  -webkit-text-size-adjust: 100%; }

address, cite, code, var, em, th {
  font-weight: normal;
  font-style: normal; }

input[type="text"]:focus, input[type="password"]:focus {
  outline: none; }

button, input, select, textarea {
  font-size: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

select, input, img {
  vertical-align: middle; }

input, button {
  -webkit-appearance: none; }

input, textarea, button {
  outline: none; }

fieldset, img {
  border: 0; }

ul, ol {
  list-style: none; }

li {
  list-style-type: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

p {
  word-wrap: break-word; }

a {
  text-decoration: none; }

a:link, a:visited, a:hover, a:active, a:focus {
  text-decoration: none; }

a {
  -webkit-tap-highlight-color: transparent;
  -webkit-background: transparent; }

textarea {
  box-shadow: 0px 0px 0px transparent;
  -webkit-background: transparent;
  -webkit-appearance: none; }

html, body {
  margin: 0 auto; }

html {
  overflow-x: hidden; }

/* ------------------------------------------- 
* HTML5 Display-Role Reset For Older Browsers 
--------------------------------------------*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  background: #fff;
  width: 10rem !important; }

.wrapper {
  width: 100%;
  height: auto;
  background-color: #fff;
  margin: 0 auto; }

.header {
  width: 100%;
  height: 1.173333rem;
  background-color: #FAFAFA;
  line-height: 1.173333rem; }
  .header .back {
    float: left;
    width: 10%;
    height: 100%;
    vertical-align: middle; }
    .header .back img {
      display: inline-block;
      margin-left: .26rem;
      width: .4rem;
      height: .4rem;
      cursor: pointer;
      -o-object-fit: cover;
      object-fit: cover; }
  .header .title {
    float: left;
    width: 80%;
    height: 100%;
    text-align: center;
    font-family: 'PingFangSC-Regular';
    font-size: .453333rem;
    color: #1e1e1e; }
  .header .share {
    float: left;
    width: 10%;
    height: 100%;
    vertical-align: middle;
    text-align: right; }
    .header .share img {
      display: inline-block;
      margin-right: .32rem;
      width: .48rem;
      height: .48rem;
      cursor: pointer;
      -o-object-fit: cover;
      object-fit: cover; }

.h2-tit {
  display: inline-block;
  width: 100%;
  height: 1.013333rem;
  line-height: 1.413333rem;
  vertical-align: bottom;
  font-family: 'PingFangSC-Semibold';
  font-size: .48rem;
  color: #121212;
  padding-left: .213333rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.swiper-container {
  margin-left: 0; }

.swiper-slide {
  width: 100%;
  min-height: 6rem;
  height: 6rem;
  overflow: hidden;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 .373333rem .7rem;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: start;
  -moz-align-items: start;
  -webkit-align-items: start;
  -moz-align-items: start;
  align-items: start;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: flex-start;
  -moz-align-content: flex-start;
  align-content: flex-start; }
  .swiper-slide figure {
    width: 1.6rem;
    height: 2.533333rem;
    display: block;
    margin: .4rem .2rem 0;
    padding: 0;
    box-sizing: content-box;
    text-align: center; }
  .swiper-slide figure img {
    width: 1.6rem;
    height: 1.6rem;
    border: 1px solid #EFEEEF;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    border-radius: .2rem; }
  .swiper-slide figcaption {
    font-family: 'PingFangSC-Regular';
    font-size: .32rem;
    line-height: .43rem;
    height: .84rem;
    color: #1e1e1e;
    margin-top: .1rem;
    text-align: center;
    display: -webkit-box;
    word-break: break-all;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden; }

.dot {
  width: 100%;
  height: auto;
  text-align: center;
  background: #fff;
  padding: .1rem 0 .3rem; }
  .dot span {
    display: inline-block;
    width: .16rem;
    height: .16rem;
    border-radius: .08rem;
    background: #d1d1d1;
    margin: 0 .1rem; }
  .dot .focus {
    display: inline-block;
    width: .32rem;
    height: .16rem;
    border-radius: .08rem;
    background: #d1d1d1;
    margin: 0 .133333rem;
    background: #ce2524; }

.stall {
  width: 100%;
  height: 1.066667rem;
  line-height: 1.066667rem;
  font-family: 'PingFangSC-Semibold';
  font-size: .48rem;
  color: #121212;
  padding-left: .213333rem;
  background: #F4F4F4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.asso-con {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  position: relative; }
  .asso-con a {
    width: 100%;
    height: auto;
    min-height: 1.866666rem;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    padding: .293333rem .213333rem;
    border-bottom: 0.02667rem solid #efeeef;
    float: left; }
    .asso-con a .content {
      display: inline-block;
      width: 100%;
      height: auto; }
      .asso-con a .content h3 {
        font-family: 'PingFangSC-Regular';
        font-size: .426666rem;
        line-height: .586666rem;
        color: #121212;
        text-align: justify;
        word-break: break-all;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden; }
      .asso-con a .content .date {
        width: auto;
        height: auto;
        display: inline-block;
        font-family: 'PingFangSC-Regular';
        font-size: .266666rem;
        color: #9A9A9A;
        padding: 0;
        margin: .353333rem 0 0; }
    .asso-con a .left-con {
      display: inline-block;
      width: auto;
      height: auto;
      margin-right: 4.1rem;
      position: absolute; }
      .asso-con a .left-con h3 {
        font-family: 'PingFangSC-Regular';
        font-size: .426666rem;
        line-height: .586666rem;
        color: #121212;
        text-align: justify;
        word-break: break-all;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        margin-top: .15rem; }
      .asso-con a .left-con .text-date {
        width: auto;
        height: auto;
        display: inline-block;
        font-family: 'PingFangSC-Regular';
        font-size: .266666rem;
        color: #9A9A9A;
        padding: 0;
        margin: .373333rem 0; }
    .asso-con a .right-con {
      display: inline-block;
      width: 3.733333rem;
      height: 2.1rem;
      box-sizing: border-box;
      float: right; }
    .asso-con a img {
      width: 100%;
      height: 100%;
      border: 0;
      -o-object-fit: cover;
      object-fit: cover; }

.other {
  margin: 0 !important; }

.other-mt {
  margin-top: -.15rem !important; }

.hr-style {
  width: 100%;
  height: .026666rem;
  border: none;
  border-bottom: 0.01333rem solid #efeeef; }

.banner {
  width: 100%;
  height: 5.626666rem;
  background: url(/static/img/politics/banner.png) no-repeat;
  background-size: cover; }

.back-home {
  float: left;
  display: block;
  cursor: pointer;
  width: 1.466666rem;
  height: 1.466666rem;
  background: rgba(0, 0, 0, 0.5);
  margin: .373333rem 0 0 .373333rem;
  border-radius: 50%;
  text-align: center; }
  .back-home img {
    float: left;
    margin: .213333rem .49rem .1rem;
    -o-object-fit: cover;
    object-fit: cover;
    width: .48rem;
    height: .432rem; }
  .back-home span {
    font-family: 'PingFangSC-Regular';
    font-size: .266666rem;
    color: #fff; }

.share-web {
  display: block;
  width: .48rem;
  height: .48rem;
  float: right;
  margin: .7rem .373333rem 0 0;
  cursor: pointer; }
  .share-web img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.share-web-other {
  display: block;
  width: .48rem;
  height: .48rem; }
  .share-web-other img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.card {
  box-sizing: border-box;
  width: 96%;
  height: auto;
  background: #fff;
  margin: -.453333rem 2% 0;
  border: 0.01333rem solid #e5e5e5;
  padding: .186666rem; }
  .card .card-con {
    width: 100%;
    height: auto;
    border: 0.01333rem solid #e5e5e5; }
    .card .card-con .head {
      float: left;
      width: 100%;
      height: auto; }
      .card .card-con .head .img {
        float: left;
        width: 1.28rem;
        height: 1.28rem;
        margin: .146666rem .16rem; }
      .card .card-con .head img {
        float: left;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        border: 1px solid #EFEEEF;
        border-radius: .2rem;
        -webkit-border-radius: .2rem;
        -moz-border-radius: .2rem; }
      .card .card-con .head span {
        display: block;
        float: left;
        width: 80%;
        height: 1.28rem;
        line-height: 1.28rem;
        text-align: left;
        text-indent: .2rem;
        font-family: 'PingFangSC-Regular';
        font-size: .426666rem;
        color: #121212;
        margin: .146666rem 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden; }
    .card .card-con .content {
      width: 100%;
      height: auto;
      box-sizing: border-box;
      padding: 0 .186666rem;
      margin: .186666rem 0;
      font-family: 'PingFangSC-Regular';
      font-size: .3733333rem;
      color: #303030;
      line-height: .466666rem;
      text-align: justify;
      word-break: break-all;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden; }
    .card .card-con .switch {
      width: 100%;
      height: .48rem;
      text-align: center;
      background: url(/static/img/politics/down2x.png) no-repeat center center;
      background-position: center;
      cursor: pointer;
      background-size: .213333rem .24rem;
      display: block; }

.dropload-down {
  overflow: hidden;
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  display: inline-block;
  text-align: center;
  font-size: .32rem; }
