body, blockquote, fieldset, textarea, button, legend, select,
input, label, table, thead, tbody, tfoot, form, img, pre,
ul, ol, li, dl, dt, dd, tr, th, td, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

body, button, input, select, textarea {
  font: 14px/16px "PingFang","\5FAE\8F6F\96C5\9ED1","\5B8B\4F53","Arial Narrow";
  -webkit-text-size-adjust: 100%; }

address, cite, code, var, em, th {
  font-weight: normal;
  font-style: normal; }

input[type="text"]:focus, input[type="password"]:focus {
  outline: none; }

button, input, select, textarea {
  font-size: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

select, input, img {
  vertical-align: middle; }

input, button {
  -webkit-appearance: none; }

input, textarea, button {
  outline: none; }

fieldset, img {
  border: 0; }

ul, ol {
  list-style: none; }

li {
  list-style-type: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

p {
  word-wrap: break-word; }

a {
  text-decoration: none; }

a:link, a:visited, a:hover, a:active, a:focus {
  text-decoration: none; }

a {
  -webkit-tap-highlight-color: transparent;
  -webkit-background: transparent; }

textarea {
  box-shadow: 0px 0px 0px transparent;
  -webkit-background: transparent;
  -webkit-appearance: none; }

html, body {
  margin: 0 auto; }

html {
  overflow-x: hidden; }

/* ------------------------------------------- 
* HTML5 Display-Role Reset For Older Browsers 
--------------------------------------------*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

.clearfix {
  zoom: 1; }

.clearfix:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden; }
