<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kanfa.news.app.mapper.VideoTypeMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.kanfa.news.app.entity.VideoType" id="videoTypeMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="createUid" column="create_uid"/>
        <result property="createTime" column="create_time"/>
        <result property="isDelete" column="is_delete"/>
        <result property="isPublish" column="is_publish"/>
        <result property="updateUid" column="update_uid"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="getPage" resultType="com.kanfa.news.app.vo.admin.video.VideoTypeInfo">
        SELECT
            lt.id,
            lt.`name`,
            bu.`name` createUser,
            lt.create_time creatTime,
            bu1.`name` updateUser,
            lt.update_time updateTime,
            lt.is_publish isPublish
        FROM
            kf_video_type lt
        LEFT JOIN base_user bu ON lt.create_uid = bu.id
        LEFT JOIN base_user bu1 ON lt.update_uid = bu1.id
    </select>

</mapper>