<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kanfa.news.activity.mapper.ActiveAwardResultMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.kanfa.news.activity.entity.ActiveAwardResult" id="activeAwardResultMap">
        <result property="id" column="id"/>
        <result property="prizeTime" column="prize_time"/>
        <result property="prizeId" column="prize_id"/>
        <result property="prizeType" column="prize_type"/>
        <result property="uid" column="uid"/>
        <result property="activityId" column="activity_id"/>
        <result property="prizeName" column="prize_name"/>
    </resultMap>

    <select id="getMessage" resultType="com.kanfa.news.activity.vo.info.ActivityAwardResultInfo">
        SELECT
            aar.prize_time prizeTime,
            aar.prize_id prizeId,
            aar.uid,
            aa.pid,
            aar.prize_type prizeType,
            aar.prize_name prizeName,
            ar.title
        FROM
            kf_active_award_result aar
        LEFT JOIN kf_activity_award aa ON aa.id = aar.prize_id
        LEFT JOIN kf_activity_raffle ar ON ar.id = aar.activity_id
        <where>
            <if test="uid != null">
                aar.uid = #{uid}
            </if>
        </where>
        ORDER BY
            aar.prize_time DESC
    </select>

</mapper>