<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kanfa.news.activity.mapper.ActivityAwardMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.kanfa.news.activity.entity.ActivityAward" id="activityAwardMap">
        <result property="id" column="id"/>
        <result property="activityId" column="activity_id"/>
        <result property="pid" column="pid"/>
        <result property="name" column="name"/>
        <result property="level" column="level"/>
        <result property="raffleTime" column="raffle_time"/>
        <result property="num" column="num"/>
        <result property="isUse" column="is_use"/>
    </resultMap>

</mapper>