<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="x5-orientation" content="portrait">
	<meta name="screen-orientation"content="portrait">
	<script src="../static/js/flexble-main.js"></script>
	<script src="../static/js/jquery-1.11.1.min.js"></script>
	<link rel="stylesheet" href="../static/css/law.css">
	<title>青春微普法</title>
</head>
<body>

	<main id="law">
		<!-- 头部 -->
		<header class="header">
			<img src="../static/image/law/banner.png">
		</header>
		
		<!-- 排行榜 -->
		<div class="tap">
			<div class="tap-title">
				<span class="show">日榜</span>
				<span>总榜</span>
			</div>
			<div class="tap-content">
				<div class="date-rule">
					<span>
						活动时间：03/15-06/05
					</span>
					<span class="cd-popup-trigger">
						榜单规则
					</span>
				</div>

				<!-- 排名列表 -->
				<div class="ranking-list">
					<ul class="ranking-ul">
						<li>
							<a class="jump-detail" href="javascript:void(0)" >
								<span>1</span>
								<span>
									<img class="head-focus" src="../static/image/law/head.png">
								</span>
								<span>
									<i>北京航空航天大学</i>
									<i class="rise">热力值&nbsp;12764</i>
								</span>
							</a>
							<a class="v-btn" href="javascript:void(0)">冲榜</a>
							<div class="gift">
								<img src="../static/image/law/gift-1.png">
							</div>
						</li>
						<li>
							<a class="jump-detail" href="javascript:void(0)" >
								<span>2</span>
								<span>
									<img class="head-focus" src="../static/image/law/head.png">
								</span>
								<span>
									<i>北京航空航天大学</i>
									<i class="flat">热力值&nbsp;12764</i>
								</span>
							</a>
							<a class="v-btn" href="javascript:void(0)">冲榜</a>
							<div class="gift">
								<img src="../static/image/law/gift-2.png">
							</div>
						</li>
						<li>
							<a class="jump-detail" href="javascript:void(0)" >
								<span>3</span>
								<span>
									<img class="head-focus" src="../static/image/law/head.png">
								</span>
								<span>
									<i>北京航空航天大学</i>
									<i class="rise">热力值&nbsp;12764</i>
								</span>
							</a>
							<a class="v-btn bg-gray" href="javascript:void(0)">已完成</a>
							<div class="gift">
								<img src="../static/image/law/gift-2.png">
							</div>
						</li>
						<li>
							<a class="jump-detail" href="javascript:void(0)" >
								<span>4</span>
								<span>
									<img src="../static/image/law/head.png">
								</span>
								<span>
									<i>北京航空航天大学</i>
									<i  class="decline">热力值&nbsp;12764</i>
								</span>
							</a>
							<a class="v-btn" href="javascript:void(0)">冲榜</a>
							<div class="gift">
								<img src="../static/image/law/gift-2.png">
							</div>
						</li>
						<li>
							<a class="jump-detail" href="javascript:void(0)" >
								<span>5</span>
								<span>
									<img src="../static/image/law/head.png">
								</span>
								<span>
									<i>北京航空航天大学</i>
									<i class="rise">热力值&nbsp;12764</i>
								</span>
							</a>
							<a class="v-btn" href="javascript:void(0)">冲榜</a>
							<div class="gift">
								<img src="../static/image/law/gift-2.png">
							</div>
						</li>
						<li>
							<a class="jump-detail" href="javascript:void(0)" >
								<span class="c-gray">6</span>
								<span>
									<img src="../static/image/law/head.png">
								</span>
								<span>
									<i>北京航空航天大学</i>
									<i class="rise">热力值&nbsp;12764</i>
								</span>
							</a>
							<a class="v-btn bg-gray" href="javascript:void(0)">已完成</a>
							<div class="gift">
								<!-- <img src="../static/image/law/gift-1.png"> -->
							</div>
						</li>
					</ul>

					<section class="baseline">
						<div class="base-tit">
							<span>我是有底线的</span>
						</div>
					</section>

				</div>
			</div>
		</div>

	</main>

	<span class="hint-info">投票成功！</span>

	<!-- 活动未开始时显示 -->

	<div class="remind">
		<div class="re-box">
		    <p>活动开始时间：<span>2018-02-27</span></p>
		    <div class="btn">
				<a class="download" href="javascript:void(0)">OK</a>
			</div>
	    </div>
	</div>


	<!-- 榜单规则 -->

	<div class="cd-popup">
	    <div class="cd-popup-container">
	    	<!-- 关闭按钮 -->
			<a href="#0" class="cd-popup-close img-replace"></a>
			<div class="bg-up"><img src="../static/image/law/bg-up.png"></div>
	    	<div class="activity-rule">
	    		<div class="list-tit">
	    			<span>榜单规则</span>
	    		</div>
	    	</div>
	    	<div class="rule-con">
	    		<p>
	    			1.每位选手只能获得同一ID用户的一张投票，同一ID用户可为不同选手分别投票。
	    		</p>
	    		<p>
	    			2.为保障比赛公平性，考虑到不同选手的成果特征及群众基础，兼顾投票环节的相对公平，本次线上风采赛投票将选手分为两大专区。
	    		</p>
	    		<p>
	    			➢	第一专区：专业组23名、非专业组30名选手，排名、票数按照30%的比例计入决赛得分。
	    		</p>
	    		<p>
	    			➢	第二专区：邮件报名参赛选手，票数位于前10名的选手将有机会获得决赛名额，并将排名、票数按照30%的比例计入决赛得分。
	    		</p>
	    		<p>
	    			3.“华航航空”与优秀人才签订就业保障服务协议，可获得就职航空高校教师岗位、航空企业乘务岗位、机场服务岗位的机会；
	    		</p>
	    		<p>
	    			4.决赛排名前20的选手，可参加免费行业岗位培训；
	    		</p>
	    		<p>
	    			5.获得参演“志在蓝天”主题曲MV录制电影拍摄的机会；
	    		</p>
	    		<p>
	    			6.获得大赛官方“造星计划”的名额，有机会成为新生代明星。
	    		</p>
	    	</div>
	    </div>
	</div>

	<script>
	// 榜单规则

		jQuery(document).ready(function($){
			//open popup
			$('.cd-popup-trigger').on('click', function(event){
				event.preventDefault();
				$('.cd-popup').addClass('is-visible');
			});
			
			//close popup
			$('.cd-popup').on('click', function(event){
				if( $(event.target).is('.cd-popup-close') || $(event.target).is('.cd-popup') ) {
					event.preventDefault();
					$(this).removeClass('is-visible');
				}
			});
			//close popup when clicking the esc keyboard button
			$(document).keyup(function(event){
		    	if(event.which=='27'){
		    		$('.cd-popup').removeClass('is-visible');
			    }
		    });
		});
	</script>
	<script type="text/javascript">
		$(function(){
					
			$(".ranking-ul li a.v-btn").click(function(){
				$(".num").remove();
				$(this).parent().append("<span class='num'>" + "+1" + "</span>");
				$(".num").animate({top:"0",left:"5.5rem",opacity:"0"},800).fadeOut();
				})
				
			})
	</script>
</body>
</html>
