body{
    font-family: 'Microsoft YaHei';
}
.mUl li{
    border-bottom: 1px solid #e5e5e5;
}
.mUl li a{
    color: #333;
    font-size: 18px;
    padding: 10px;
    display: block;
}
a.more{
    font-size: 18px;
    text-align: center;
    display: block;
    color: #e94740;
    height: 45px;
    line-height: 45px;
}