

.night     .module_top{
        position: relative;
        background: #222;
        padding: 0 0 20px;
    }
.night     .module_top .banner{
        position: relative;
    }
.night     .module_top .banner .tit{
        position: absolute;
        top: 11px;
        left: 18px;
        color: #d0d0d0 !important;
        font-size: 22px;
        font-weight: bold;
    }
.night     .module_top .banner .loc{
        position: absolute;
        top: 40px;
        left: 18px;
        padding: 0 0 0 12px;
        font-weight: lighter;
        color: #909090 !important;
        font-size: 12px;
        background: url(../img2/icon_8.png) left center no-repeat;
        background-size: auto 10px;
    }
.night     .module_top .banner .love{
        position: absolute;
        bottom: 14px;
        width: 45px;
        right: 18px;
        color: #909090 !important;
        font-size: 12px;
    }
.night     .module_top .banner .love .num{
        position: absolute;
        top: 27px;
        text-align: center;
        width: 100%;
        color: #909090 !important;
        font-size: 12px;
    }
.night     .module_top .con{
        position: relative;
        margin: -27px 18px 0 18px;
        font-size: 15px;
    }
.night     .module_top .con .head{
        
    }
.night     .module_top .con .head .img{
        width: 54px;
        float: left;
    }
.night     .module_top .con .head .name{
        height: 54px;
        line-height: 88px;
        color: #909090 !important;
        margin: 0 0 0 64px;
    }
.night     .module_top .con .txt{
        line-height: 24px;
        color: #5c5c5c !important;
        margin: 16px 0 0;
        padding: 0 18px;
        background-image: url(../img2/icon_11.png), url(../img2/icon_12.png);
        background-repeat: no-repeat, no-repeat;
        background-position: left top, right bottom;
        background-size: auto 12px, auto 12px;
    }


.night     .content{
        position: relative;
        padding: 20px 18px 30px;
        margin: 15px 0;
        background: #222;
    }
.night     .content h1{
        font-size: 18px;
        padding: 0 0 0 8px;
        background: url(../img2/icon_13.png) left top no-repeat;
        background-size: auto 18px;
        color: #7f4600 !important;
    }
 .night    .content .img .video{
        position: relative;
        text-align: center;
    }
.night     .content .img .video .icon{
        position: absolute;
        width: 24%;
        left: 38%;
        top: 25%;
    }
.night     .content .img .video img{
        margin: 0 0 5px;
    }
.night     .content .img .video .icon_t{
        font-size: 12px;
        color: #909090 !important;
        background: rgba(0,0,0,.6);
        border-radius: 4px;
        padding: 3px 5px;
    }
.night     .content .img{
        position: relative;
        margin: 19px 0;
    }
.night     .content .img .photo{
        position: absolute;
        bottom: 4%;
        left: 0%;
        height: 38px;
        width: 45px;
        line-height: 38px;
        color: #909090 !important;
        padding: 0 0 0 20px;
        background: url(../img2/icon_7.png) left top repeat-y rgba(0,0,0,.5);
        background-size: 3px auto;
    }
.night     .content .img .txt{
        margin: 6px 0;
        color: #5c5c5c !important;
        font-size: 14px;
        line-height: 18px;
    }
.night     .content .tit{
        margin: 20px 0 5px;
        color: #909090 !important;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        background: url(../img2/icon_14.png) center center no-repeat;
        background-size: 50% auto ;
    }
.night     .content .text{
        text-align: center;
        font-size: 16px;
        color: #909090 !important;
        line-height: 28px;
    }
.night     .content p{
        font-size: 18px;
        color: #909090 !important;
        line-height: 30px;
        margin: 4px 0 4px;
    }
.night     .content .ul{
        margin: 16px 13px 0;
        position: relative;
        display: -webkit-box;
        height: 70px;
    }
.night     .content .li{
        position: relative;
        -webkit-box-flex: 1;
    }
.night     .content .li .like_btn .num{
        margin: -29px 0 0 0;
    }
.night     .content .li .like_btn .add{
        color: #e74238 !important;
        font-size: 13px;
        position: absolute;
        left: 0;
        width: 100%;
        top: 20%;
        z-index: 1;
        display: none;
    }
.night     .content .li .like_btn .add.on {
        z-index: 100;
        display: block;
        -webkit-animation: on 1.2s 1 linear;
        -webkit-animation-fill-mode: forwards;
    }
    @-webkit-keyframes on {
      0% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0px,0);
      }
      50% {
        opacity: 1;
        -webkit-transform: translate3d(0,-40px,0);
      }
      100% {
        opacity: 0;
        -webkit-transform: translate3d(0,-40px,0);
      }
    }

.night     .module_7{
        position: relative;
        padding: 20px 17px 20px 0;
        margin: 15px 0;
        background: #222;
    }
.night     .module_7 .h2 {
      height: 22px;
      font-size: 18px;
      padding: 0 0 0 19px;
      box-sizing: border-box;
      background: url(../img2/icon_bp.png) left top no-repeat;
      background-size: auto 90%;
    }
 .night    .module_7 .h2.icon_r {
        background-image: url(../img2/icon_bp.png), url(../img2/icon_16.png);
        background-repeat: no-repeat, no-repeat;
        background-position: left top, right center;
        background-size: auto 90%, auto 13px;
        color: #909090 !important;
    }
.night     .module_7 .info {
        margin: 16px 0 20px 17px;
        padding: 7px 0;
        border-top: 1px solid #2b2b2b;
        border-bottom: 1px solid #2b2b2b;
        background: url(../img2/icon_15.png) right 36px no-repeat;
        background-size: auto 35px;
    }
.night     .module_7 .info .txt{
        line-height: 30px;
        font-size: 16px;
        color: #5c5c5c !important;
    }
.night     .module_7 .info .txt span{
        color: #73211c !important;
    }
.night     .module_7 .tel{
        margin: 0 0 0 17px;
        color: #2c553d !important;
        font-size: 20px;
        height: 23px;
        padding: 0 0 0 30px;
        background: url(../img2/icon_tel.png) left center no-repeat;
        background-size: auto 22px;
    }
.night     .module_7 .tel.icon_r{
        background-image: url(../img2/icon_tel.png), url(../img2/icon_16.png);
        background-repeat: no-repeat, no-repeat;
        background-position: left center, right center;
        background-size: auto 22px, auto 13px;
    }