<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kanfa.news.app.mapper.ActivityBlueSkyMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.kanfa.news.app.entity.ActivityBlueSky" id="activityBlueSkyMap">
        <result property="id" column="id"/>
        <result property="activityVoteId" column="activity_vote_id"/>
        <result property="activityId" column="activity_id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="area" column="area"/>
        <result property="height" column="height"/>
        <result property="weight" column="weight"/>
        <result property="sort" column="sort"/>
        <result property="isDelete" column="is_delete"/>
        <result property="voteTotal" column="vote_total"/>
        <result property="commentTotal" column="comment_total"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="headimage" column="headimage"/>
        <result property="type" column="type"/>
        <result property="blood" column="blood"/>
        <result property="position" column="position"/>
        <result property="description" column="description"/>
        <result property="video" column="video"/>
        <result property="loves" column="loves"/>
        <result property="url" column="url"/>
        <result property="videoimage" column="videoimage"/>
        <result property="duration" column="duration"/>
        <result property="introduction" column="introduction"/>
    </resultMap>


    <!-- 青春微普法大赛活动 候选人新增  -->
    <insert id="insertActivityBlueSky"  parameterType="com.kanfa.news.app.entity.ActivityBlueSky" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO kf_activity_blue_sky (
                `name`,
                description,
                introduction,
                headimage,
                url,
                duration,
                videoimage,
                create_time,
                activity_id
        )
        VALUES
            (
                #{name},
                #{description},
                #{introduction},
                #{headimage},
                #{url},
                #{duration},
                #{videoimage},
                #{createTime},
                #{activityId}
        )
    </insert>

    <select id="selectOneActivityBlueSky" resultType="com.kanfa.news.app.entity.ActivityBlueSky">
            SELECT
            id,
            activity_id,
            `name`,
            create_time,
            headimage,
            description,
            url,
            videoimage,
            duration,
            introduction
            from kf_activity_blue_sky
            WHERE id = #{id}
    </select>


    <!-- 青春微普法大赛活动 候选人 分页及搜索 -->
    <select id="getActivityBlueSkyPage" resultType="com.kanfa.news.app.vo.admin.activity.ActivityBlueSkyPageInfo">
        SELECT
        kabs.id,
        kabs.`name`,
        kabs.vote_total voteTotal,
        kabs.comment_total commentTotal,
        kabs.create_time createTime
        from kf_activity_blue_sky kabs
        <where>
            <if test="name!=null and name != '' ">
                AND kabs.`name` LIKE CONCAT('%',#{name},'%')
            </if>
            <if test="isDelete!=null ">
                AND kabs.is_delete=#{isDelete}
            </if>
            <if test="id!=null">
                AND kabs.id=#{id}
            </if>
        </where>
        ORDER BY kabs.id DESC
    </select>


</mapper>