<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kanfa.news.app.mapper.ChannelContentMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.kanfa.news.app.entity.ChannelContent" id="channelContentMap">
        <result property="id" column="id"/>
        <result property="channelId" column="channel_id"/>
        <result property="contentId" column="content_id"/>
        <result property="top" column="top"/>
        <result property="isPublish" column="is_publish"/>
        <result property="publishTime" column="publish_time"/>
        <result property="isDelete" column="is_delete"/>
        <result property="orderNumber" column="order_number"/>
        <result property="cardType" column="card_type"/>
        <result property="recommendWeight" column="recommend_weight"/>
        <result property="fromType" column="from_type"/>
        <result property="checkStatus" column="check_status"/>
        <result property="type" column="type"/>
        <result property="sortTime" column="sort_time"/>
    </resultMap>
    <update id="updateChannelConent" parameterType="com.kanfa.news.app.entity.ChannelContent">
         UPDATE kf_channel_content
         SET
            <if test="channelContent.isPublish!=null">
              is_publish=#{channelContent.isPublish}
            </if>
            <if test="channelContent.publishTime!=null">
              ,publish_time=#{channelContent.publishTime}
            </if>
            <if test="channelContent.top!=null">
              top=#{channelContent.top}
            </if>
         WHERE <if test="channelContent.channelId!=null">channel_id=#{channelContent.channelId} AND </if> content_id=#{channelContent.contentId}
    </update>

    <select id="selectListSelected" resultType="com.kanfa.news.app.vo.admin.info.ChannelInfo">
        SELECT
                c.id,
                c.category
        FROM 
              kf_channel_content cc
              LEFT JOIN kf_channel c ON c.id=cc.channel_id
        <where>
            c.channel_status=1 AND c.is_publish=1
            <if test="contentId != null">
                AND cc.from_type=1  AND cc.content_id=#{contentId}
            </if>
        </where>
    </select>

    <!-- 获得appchannelids -->
    <select id="selectAppChannels" resultType="java.lang.Integer">
        SELECT
            cc.id
        FROM
            kf_channel_content kcc
        LEFT JOIN kf_content kc ON kcc.content_id = kc.id
        LEFT JOIN kf_channel cc ON kcc.channel_id = cc.id
        WHERE
            kc.id = #{contentId}
        AND kc.content_type = 4
        AND cc.category = 2
    </select>

    <!-- 返回pcChannelList -->
    <select id="selectPcChannels" resultType="java.lang.Integer">
        SELECT
            cc.id
        FROM
            kf_channel_content kcc
        LEFT JOIN kf_content kc ON kcc.content_id = kc.id
        LEFT JOIN kf_channel cc ON kcc.channel_id = cc.id
        WHERE
             kc.id = #{contentId}
        AND kc.content_type = 4
        AND cc.category = 4
    </select>

    <!-- 返回VrChannelList -->
    <select id="selectVrChannels" resultType="java.lang.Integer">
        SELECT
        cc.id
        FROM
        kf_channel_content kcc
        LEFT JOIN kf_content kc ON kcc.content_id = kc.id
        LEFT JOIN kf_channel cc ON kcc.channel_id = cc.id
        WHERE
        kc.id = #{contentId}
        AND kc.content_type = 11
        AND cc.category = 3
    </select>

    <!-- 返回getAppChannels 直播 -->
    <select id="getAppChannels" resultType="java.lang.Integer">
        SELECT
        cc.id
        FROM
        kf_channel_content kcc
        LEFT JOIN kf_live kc ON kcc.content_id = kc.id
        LEFT JOIN kf_channel cc ON kcc.channel_id = cc.id
        WHERE
        kc.id =#{liveId}
        AND kcc.from_type = 2
    </select>


    <select id="getPageContentListByChannelId" resultType="java.util.Map">
        SELECT
        a.channel_id,
        a.card_type,
        a.top,
        a.publish_time,
        a.recommend_weight,
        a.order_number,
        a.from_type,
        c.id,
        c.category,
        c.content_type type,
        c.title,
        c.`introduction` `desc` ,
        c.image,
        c.view_count views,
        c.tag,
        c.create_uid,
        c.comment_count comments,
        c.comment_checked_count,
        c.content_style,
        c.source_type,
        c.custom_url,
        cb.live_url,
        cb.review_url,
        cb.broadcast_status,
        cv.duration ,
        cv.url video_source,
        ccc.card_type cardType,
        ccc.image  cardImage
        FROM
        kf_channel_content a
        INNER JOIN kf_content c ON a.content_id = c.id
        LEFT JOIN kf_content_broadcast cb ON c.id = cb.cid
        LEFT JOIN kf_content_video cv on c.id=cv.cid and cv.is_delete=1
        LEFT JOIN kf_channel_content_card ccc on ccc.content_id = c.id
                            <if test="params!=null and params.chan_id!=null">
                                     and ccc.channel_id=#{params.chan_id}
                            </if>
        WHERE
        1 = 1
        <if test="params!=null and params.chan_id!=null">
             AND a.channel_id=#{params.chan_id}
        </if>
        AND a.is_delete = 1
        AND <![CDATA[ a.check_status < 2 ]]>
        AND a.is_publish = 1 order by a.publish_time desc
    </select>


    <select id="getNewPageContentListByChannelId" resultType="java.util.Map">
        SELECT
        a.content_id cid,
        a.card_type,
        a.top,
        a.publish_time pub_time,
        a.publish_time publish_time,
        a.recommend_weight,
        a.from_type,
        c.id,
        c.category,
        c.content_type type,
        c.title,
        c.image,
        c.tag,
        c.content_style,
        c.source_type,
        c.view_count views,
        c.custom_url,
        c.category cate,
        l.id live_id,
        l.title live_title,
        l.live_status AS live_stat,
        l.cover_img AS live_image,
        l.live_type_id,
        l.live_duration duration,
        l.start_time AS preview_time,
        l.flash_obj,
        l.view_count AS video_num,
        t. NAME AS live_class,
        l.view_count live_views,
        l.live_url,
        l.preview_url,
        l.review_url,
        ccc.card_type cardType,
        ccc.image  cardImage
        FROM
        kf_channel_content a
        LEFT JOIN kf_content c ON a.content_id = c.id
        LEFT JOIN kf_live l ON a.content_id = l.id AND l.is_publish =1  AND l.is_delete =0
        LEFT JOIN kf_live_type t ON l.live_type_id = t.id
        LEFT JOIN kf_channel_content_card ccc on ccc.content_id = c.id
                    <if test="params!=null and params.chan_id!=null">
                        and ccc.channel_id=#{params.chan_id}
                    </if>
        WHERE  1 = 1

        <if test="params!=null and params.signtime >0">
            AND a.sort_time <![CDATA[ < ]]>   #{params.signtime}
        </if>
        <if test="params!=null and params.chan_id!=null">
            AND a.channel_id = #{params.chan_id}
        </if>
        AND a.is_delete = 1
        AND <![CDATA[ a.check_status < 2 ]]>
        AND a.is_publish = 1

        <if test="params!=null and params.chan_id ==2">
            <if test="params.order!=null">
                 order by  a.top desc,a.recommend_weight desc,a.order_number desc,a.publish_time desc,a.id desc
            </if>
            <if test="params.order==null">
                 order by  a.publish_time desc,a.id desc
            </if>
        </if>
        <if test="params!=null and params.chan_id !=2">
            order by  a.top desc,a.order_number desc ,a.publish_time desc
        </if>
    </select>

    <select id="getNewContentCountByChannelId" resultType="java.util.Map">
        SELECT
        id
        FROM
        kf_channel_content a
        WHERE 1=1
        <if test="params!=null and params.chan_id!=null">
             AND a.channel_id = #{params.chan_id}
        </if>
        <if test="params!=null and params.maxId!=null">
            and id <![CDATA[ > ]]>  #{params.maxId}
        </if>
        AND a.is_delete = 1
        AND a.is_publish = 1
    </select>


    <select id="getChannelContent" resultType="com.kanfa.news.app.vo.admin.info.ChannelContentInfo">
        SELECT
                cc.id,
                cc.content_id contentId,
                cc.order_number orderNumber
        FROM
                kf_channel_content cc
        <where>
            <if test="list != null and list.size()>0">
                AND cc.content_id IN
                <foreach collection="list" item="contentId" open="(" close=")" separator=",">
                    #{contentId}
                </foreach>
            </if>
            <if test="channelId != null">
                AND cc.channel_id = #{channelId}
            </if>
        </where>
        ORDER BY field
        <foreach collection="list" item="contentId" close=")" open="(cc.content_id," separator=",">
            #{contentId}
        </foreach>
    </select>

    <select id="selectCountByChannelId" resultType="java.lang.Integer">
        SELECT count(*)+(SELECT count(*)
                FROM kf_live l
                INNER JOIN kf_channel_content cc ON l.id=cc.content_id AND cc.channel_id=#{channelId} AND cc.from_type=2 AND cc.is_delete=1
                WHERE l.is_delete=0 AND l.check_state=#{checkStatus}) as total
        FROM kf_content c
        INNER JOIN kf_channel_content cc on c.id=cc.content_id AND cc.channel_id=#{channelId} AND cc.from_type=1 AND cc.is_delete=1
        WHERE c.content_state=1 AND (c.is_check=1 or c.check_status=#{checkStatus})
    </select>

    <select id="selectListForLog" resultType="com.kanfa.news.app.vo.admin.info.ChannelInfo">
        SELECT
                c.id,
                c.name
        FROM
                kf_channel_content cc
                LEFT JOIN kf_channel c ON c.id=cc.channel_id
        <where>
            c.channel_status=1 AND c.is_publish=1
            <if test="contentId != null">
                AND cc.from_type=1  AND cc.content_id=#{contentId}
            </if>
        </where>
    </select>

    <update id="updateContentDeleteByContentId" parameterType="java.lang.Integer">
        UPDATE kf_channel_content
        SET
            is_delete=0
        WHERE content_id=#{contentId} AND from_type=#{fromType}
    </update>

    <select id="selectMaxOrderNumber" resultType="com.kanfa.news.app.vo.admin.info.ChannelInfo">
        SELECT
                MAX(order_number)
        FROM
                kf_channel_content
    </select>
</mapper>
