<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kanfa.news.app.mapper.ContentBroadcastBindMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.kanfa.news.app.entity.ContentBroadcastBind" id="contentBroadcastBindMap">
        <result property="id" column="id"/>
        <result property="contentId" column="content_id"/>
        <result property="bindId" column="bind_id"/>
        <result property="orderNumber" column="order_number"/>
    </resultMap>

    <select id="getPage" resultType="com.kanfa.news.app.vo.admin.video.ContentBroadcastBindInfo">
        SELECT
            kcc.id,
            kcc.title,
            kcc.content_type contentType,
            xau.nickname,
            kcc.update_time updateTime
        FROM
            kf_content_broadcast_bind kcbb
        LEFT JOIN kf_content kc ON kcbb.content_id = kc.id
        LEFT JOIN kf_content kcc ON kcbb.bind_id = kcc.id
        LEFT JOIN kf_admin_user xau ON kc.update_uid = xau.id
        WHERE
            kcc.content_type = 4 AND
            kcbb.content_id = #{contentId}
        ORDER BY
            kcbb.order_number DESC,
            kcc.update_time DESC
    </select>

    <select id="getContentBind" resultType="com.kanfa.news.app.vo.admin.video.ContentBroadcastBindInfo">
        SELECT
                kcc.id,
                kcc.title,
                kcc.content_type contentType,
                xau.nickname,
                kcc.update_time updateTime
        FROM
            kf_content_broadcast_bind kcbb
            LEFT JOIN kf_content kc ON kcbb.content_id = kc.id
            LEFT JOIN kf_content kcc ON kcbb.bind_id = kcc.id
            LEFT JOIN kf_admin_user xau ON kc.update_uid = xau.id
        <where>
            <if test="contentBroadcastBind.contentId != null">
                AND kcbb.content_id=#{contentBroadcastBind.contentId}
            </if>
        </where>
        ORDER BY
            kcbb.order_number DESC,
            kcc.update_time DESC
    </select>

    <select id="getSearchPage" resultType="com.kanfa.news.app.vo.admin.video.ContentBroadcastBindInfo">
        SELECT
        kc.id,
        kc.title,
		kc.content_type contentType
        FROM
        kf_content kc
				LEFT JOIN kf_content_broadcast kcb ON kcb.cid = kc.id
				WHERE kc.content_type = 4 AND  kc.id NOT IN ( SELECT c.bind_id
                             FROM kf_content_broadcast_bind c
                            WHERE
                            c.content_id = #{contentId})AND kc.title LIKE CONCAT('%',#{title},'%' )
       ORDER BY kc.update_time DESC
    </select>


    <select id="getLvshiBroadcastLivePage" resultType="java.util.Map">
        SELECT
            "http://kanfaimage.oss-cn-beijing.aliyuncs.com/defaultlogo.png" share_img,
            kf_channel_content.content_id,
            kf_channel_content.from_type,
            kf_channel_content.type,
             kf_live.id,
            kf_live.cover_img AS image,
            kf_live.live_status +1 AS broad_status,
            kf_live.view_count,
            kf_live.comment_count,
            kf_live.title,
            kf_live.live_type_id,
            kf_live.live_content AS share_desc
        FROM
            kf_channel_content
        LEFT JOIN kf_live ON kf_channel_content.content_id = kf_live.id
        WHERE
            kf_channel_content.channel_id = #{channel_id}
        AND kf_channel_content.type = #{type}
        AND kf_channel_content.is_publish = 1
        AND kf_channel_content.is_delete = 1
        AND kf_channel_content.check_status = 1
        ORDER BY
            kf_channel_content.top DESC,
            kf_channel_content.publish_time DESC
    </select>

    <select id="getLvshiBroadcastContentLivePage" resultType="java.util.Map">
        SELECT
            kf_content.id,
            kf_content.category cate,
            kf_content.content_type type,
            kf_content.introduction AS share_desc,
            kf_content.title,
            kf_content.image,
            kf_content.view_count views,
            kf_content.comment_count comments,
            kf_content_broadcast.broadcast_status broad_status,
            kf_content_video.duration
        FROM
            kf_channel_content
        LEFT JOIN kf_content ON kf_channel_content.content_id = kf_content.id
        LEFT JOIN kf_content_broadcast ON kf_content.id = kf_content_broadcast.cid
        LEFT JOIN kf_content_video ON kf_content.id = kf_content_video.cid
        WHERE
        kf_channel_content.channel_id = #{channel_id}
        AND kf_channel_content.type IN (4, 9)
        AND kf_channel_content.is_publish = 1
        AND kf_channel_content.is_delete = 1
        AND kf_channel_content.check_status = 1
        ORDER BY
        kf_channel_content.top DESC,
        kf_channel_content.publish_time DESC
    </select>


    <select id="getMaxOrderNumber" resultType="java.lang.Integer">
        SELECT MAX(order_number)
        FROM  kf_content_broadcast_bind
    </select>

    <!-- 查询绑定内容 -->
    <select id="getBroadcastBind" resultType="com.kanfa.news.app.entity.ContentBroadcastBind">
        SELECT
                kcb.id,
                kcb.order_number orderNumber
        FROM
                kf_content_broadcast_bind kcb
        <where>
            <if test="ids!=null and ids.size()>0">
                kcb.bind_id IN
                <foreach collection="ids" item="bindId" open="(" close=")" separator=",">
                    #{bindId}
                </foreach>
            </if>
            <if test="contentId!=null">
               AND kcb.content_id=#{contentId}
            </if>
        </where>
        ORDER BY field
        <foreach collection="ids" item="bindId" open="(kcb.bind_id," close=")" separator=",">
            #{bindId}
        </foreach>
    </select>

</mapper>