<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kanfa.news.app.mapper.ContentImageMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.kanfa.news.app.entity.ContentImage" id="contentImageMap">
        <result property="cid" column="cid"/>
        <result property="descType" column="desc_type"/>
        <result property="num" column="num"/>
        <result property="stat" column="stat"/>
    </resultMap>

    <select id="selectContentImageList" resultMap="contentImageMap">
        SELECT
        ci.cid,
        ci.desc_type descType,
        ci.num ,
        ci.stat
        FROM
        kf_content_image ci
        <where>
            <if test="stat!=null">
                AND ci.stat=#{stat}
            </if>
            <if test="descType!=null">
                AND ci.desc_type=#{descType}
            </if>
        </where>
    </select>

</mapper>