<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kanfa.news.app.mapper.CountChannelContentMapper">

	 <select id="listChannelContent" resultType="map">
         SELECT
             COUNT(cc.content_id) AS contentCount,
             ch.id AS channelId,
             ch. NAME AS channelName,
             ch.category cate,
             c.create_time
         FROM
             kf_channel_content AS cc
         LEFT JOIN kf_channel AS ch ON cc.channel_id = ch.id
         LEFT JOIN kf_content AS c ON cc.content_id = c.id
         WHERE
            c.is_check = 1
            <if test="null != startDate and startDate != '' and null != endDate and endDate != ''">
                AND c.create_time BETWEEN #{startDate}
                AND #{endDate}
            </if>
            GROUP BY
              ch.id
     </select>

</mapper>