<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kanfa.news.app.mapper.CountContentViewMapper">

	 <select id="listBaseInfoByCid" resultType="map">
         SELECT
            aa.title,
            aa.tag,
            aa.check_time checkTime,
            aa.source_type sourceType,
            aa.category type,
            aa.create_uid createUid,
            bb.source src,
            IF(au.realname = null,'爬虫工程师',au.realname) createName
        FROM
            kf_content aa
        LEFT JOIN kf_content_article bb ON bb.cid = aa.id
        left join kf_admin_user au on   au.id=aa.create_uid
        WHERE 1=1
          and au.stat=1
          <if test="null != cid  and cid  != ''">
              and aa.id = #{cid}
          </if>
     </select>

    <select id="listAuthorInfoByCid" resultType="map">
        SELECT
            uid,
            NAME,
            weight
        FROM
            kf_kpi_count
        WHERE
            type = 2
        <if test="null != cid  and cid  != ''">
            AND type_id = #{cid}
        </if>

    </select>
    <select id="listAuthorInfoByCidFromKpiContent" resultType="map">
        SELECT
            uid,
            NAME,
            weight
        FROM
            kf_kpi_content
        WHERE 1=1
        <if test="null != cid  and cid  != ''">
            AND type_id = #{cid}
        </if>

    </select>
    <select id="listAuthorInfoByCidFromKpiVideo" resultType="map">
        SELECT
            a.uid,
            a.weight,
            a. NAME
        FROM
          kf_kpi_video_author a
        LEFT JOIN kf_content_video b ON a.video_id = b.did
        WHERE
        1 = 1

        <if test="null != cid  and cid  != ''">
            AND   b.cid =  #{cid}
        </if>

    </select>
    <select id="listAuthorInfoByCidFromContentReporter" resultType="map">
        SELECT
            reporter_id,
            reporter_name,
            `VALUE`
        FROM
          kf_content_reporter_remarks
        WHERE
          STATUS = 1

        <if test="null != cid  and cid  != ''">
            AND content_id =#{cid}
        </if>

    </select>

    <select id="listChannelInfoByCid" resultType="map">
        SELECT
            dd.id,
            dd. NAME
        FROM
            kf_channel_content cc
        LEFT JOIN kf_channel dd ON dd.id = cc.channel_id
        WHERE
            cc.is_delete = 1
        <if test="null != cid  and cid  != ''">
            AND cc.channel_id  =#{cid}
        </if>

    </select>

</mapper>