<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kanfa.news.app.mapper.KpiTypeConfigMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.kanfa.news.app.entity.KpiTypeConfig" id="kpiTypeConfigMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="workNum" column="work_num"/>
        <result property="pvLimit" column="pv_limit"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateUid" column="update_uid"/>
        <result property="configType" column="config_type"/>
        <result property="stat" column="stat"/>
        <result property="remark" column="remark"/>
        <result property="isShow" column="is_show"/>
        <result property="pid" column="pid"/>
        <result property="relationType" column="relation_type"/>
    </resultMap>


    <select id="selectWorkTypeForLive" resultType="com.kanfa.news.app.entity.KpiTypeConfig">
        SELECT id,name
        FROM kf_kpi_type_config
        WHERE id BETWEEN 30 AND 34
    </select>
    <select id="selectIdLimit" resultType="com.kanfa.news.app.entity.KpiTypeConfig">
        SELECT id,pv_limit
        FROM kf_kpi_type_config
        WHERE pv_limit > 0
    </select>


    <select id="selectWorkTypeForDemand" resultType="com.kanfa.news.app.entity.KpiTypeConfig">
        SELECT id,name
        FROM kf_kpi_type_config k
        WHERE id BETWEEN 44 AND 50
        AND k.stat = 1
    </select>

</mapper>