<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kanfa.news.app.mapper.LiveSpecialMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.kanfa.news.app.entity.LiveSpecial" id="liveSpecialMap">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="liveTypeId" column="live_type_id"/>
        <result property="summary" column="summary"/>
        <result property="content" column="content"/>
        <result property="coverImg" column="cover_img"/>
        <result property="pub" column="pub"/>
        <result property="stat" column="stat"/>
        <result property="createUid" column="create_uid"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUid" column="update_uid"/>
        <result property="updateTime" column="update_time"/>
        <result property="specialType" column="special_type"/>
    </resultMap>



    <select id="getPage" resultType="com.kanfa.news.app.vo.admin.live.LiveSpecialInfo">
            SELECT
                kls.id,
                kls.title,
                kl.`name` liveTypeName,
                kau.nickname createUser,
                kls.create_time createTime,
                kls.pub isPublish
            FROM
                kf_live_special kls
            LEFT JOIN kf_live_type kl ON kl.id = kls.live_type_id
            LEFT JOIN kf_admin_user kau ON kls.create_uid = kau.id
            WHERE
                kls.stat = 1
            ORDER BY
                kls.create_time DESC,
                kls.pub DESC
    </select>


    <select id="getSearchPage"  parameterType="java.lang.String" resultType="com.kanfa.news.app.vo.admin.live.LiveSpecialInfo">
            SELECT
                kls.id,
                kls.title,
                kl.`name` liveTypeName,
                kau.nickname createUser,
                kls.create_time createTime,
                kls.pub isPublish
            FROM
                kf_live_special kls
            LEFT JOIN kf_live_type kl ON kl.id = kls.live_type_id
            LEFT JOIN kf_admin_user kau ON kls.create_uid = kau.id
        WHERE
            kls.stat = 1 AND kls.title LIKE CONCAT('%',#{title},'%' )
        ORDER BY
            kls.create_time DESC
    </select>

    <select id="selectSpecialByliveTypId"  resultType="com.kanfa.news.app.vo.admin.live.LiveInfo">
        SELECT
          ls.id,
          ls.title,
          ls.special_type specialType
        FROM
          kf_live_special ls
        <where>
              ls.stat = 1 and ls.pub = 1
              <if test="liveTypeId != null">
               AND  ls.live_type_id = #{liveTypeId}
              </if>
        </where>
        order by special_type desc,update_time desc
        limit #{limit}
    </select>

    <select id="selectSpecialByType"  resultType="com.kanfa.news.app.vo.admin.live.LiveInfo">
        SELECT
          ls.id,
          ls.title,
          ls.special_type specialType
        FROM
          kf_live_special ls
        <where>
              ls.stat = 1 and ls.pub = 1
                AND  ls.special_type = 2
              <if test="liveTypeId != null">
                AND  ls.live_type_id = #{liveTypeId}
             </if>
        </where>
    </select>
</mapper>