<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kanfa.news.app.mapper.LiveMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.kanfa.news.app.entity.Live" id="liveMap">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="subtitle" column="subtitle"/>
        <result property="liveContent" column="live_content"/>
        <result property="liveStatus" column="live_status"/>
        <result property="liveUrl" column="live_url"/>
        <result property="startTime" column="start_time"/>
        <result property="liveDuration" column="live_duration"/>
        <result property="liveTypeId" column="live_type_id"/>
        <result property="caseType" column="case_type"/>
        <result property="courtLevel" column="court_level"/>
        <result property="courtId" column="court_id"/>
        <result property="courtName" column="court_name"/>
        <result property="sourceUrl" column="source_url"/>
        <result property="previewUrl" column="preview_url"/>
        <result property="previewImg" column="preview_img"/>
        <result property="previewSummary" column="preview_summary"/>
        <result property="previewDesc" column="preview_desc"/>
        <result property="previewShow" column="preview_show"/>
        <result property="isTop" column="is_top"/>
        <result property="reviewUrl" column="review_url"/>
        <result property="flashObj" column="flash_obj"/>
        <result property="coverImg" column="cover_img"/>
        <result property="caseInfo" column="case_info"/>
        <result property="courtInfo" column="court_info"/>
        <result property="viewCount" column="view_count"/>
        <result property="isPublish" column="is_publish"/>
        <result property="isDelete" column="is_delete"/>
        <result property="isLock" column="is_lock"/>
        <result property="createUid" column="create_uid"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUid" column="update_uid"/>
        <result property="updateTime" column="update_time"/>
        <result property="checkState" column="check_state"/>
        <result property="checkTime" column="check_time"/>
        <result property="commentCount" column="comment_count"/>
        <result property="commentCheckedCount" column="comment_checked_count"/>
        <result property="commentType" column="comment_type"/>
        <result property="chatroomStatus" column="chatroom_status"/>
        <result property="chatroomKeeplive" column="chatroom_keeplive"/>
        <result property="chatroomNotice" column="chatroom_notice"/>
        <result property="sourceId" column="source_id"/>
        <result property="collectCount" column="collect_count"/>
        <result property="liveRecommendWeight" column="live_recommend_weight"/>
        <result property="chatroomAllcount" column="chatroom_allcount"/>
        <result property="chatroomAppcount" column="chatroom_appcount"/>
        <result property="commentStatus" column="comment_status"/>
        <result property="reviewBox" column="review_box"/>
        <result property="fromRemark" column="from_remark"/>
        <result property="liveType" column="live_type"/>
        <result property="videoView" column="video_view"/>
        <result property="appvideoView" column="appvideo_view"/>
    </resultMap>

    <select id="getLiveList" resultType="com.kanfa.news.app.vo.admin.live.LiveInfo">
        SELECT
        l.id,
        l.title
        FROM
        kf_live l
        <where>
            <if test="liveInfo.title != null and liveInfo.title != ''">
                AND l.title LIKE CONCAT('%',#{liveInfo.title},'%')
            </if>
        </where>
        ORDER BY l.id DESC
    </select>

    <select id="findByIds"  resultType="com.kanfa.news.app.vo.admin.live.LiveInfo">
         SELECT
            lv.id,
            lv.live_type_id liveTypeId,
            lv.title
            FROM
        kf_live lv
        <where>
            lv.is_delete = 0
            <if test="cidsKey != null and cidsKey.size() > 0">
                AND lv.id IN
                <foreach collection="cidsKey" separator="," open="(" close=")" item="id">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>


    <!--新版直播首页查找数据-->
    <select id="getNewLiveData" resultType="com.kanfa.news.app.vo.admin.live.LiveInfo">
            SELECT
                LiveBroadcast.`id`,
                LiveBroadcast.`title`,
                LiveBroadcast.start_time,
                LiveBroadcast.live_url liveUrl,
                LiveBroadcast.live_status liveStatus,
                LiveBroadcast.live_duration liveDuration,
                LiveBroadcast.preview_url previewUrl,
                LiveBroadcast.preview_img previewImg,
                LiveBroadcast.review_url reviewUrl,
                LiveBroadcast.cover_img coverImg,
                LiveBroadcast.view_count viewCount,
                LiveBroadcast.is_show_view_user,
                VideoSource.`name`,
                VideoSource.`image`
            FROM
                kf_live LiveBroadcast
            LEFT JOIN kf_video_source VideoSource ON VideoSource.id = LiveBroadcast.source_id
            <where>
                LiveBroadcast.is_publish = 1
                AND LiveBroadcast.is_delete = 0
                AND LiveBroadcast.live_type_id != 3
                <if test="page > 1 and signtime != null">
                    AND <![CDATA[ LiveBroadcast.create_time < #{signtime} ]]>
                </if>
            </where>
            ORDER BY
                LiveBroadcast.create_time DESC
            limit #{offset},#{pcount}
    </select>


    <!--  -->
    <select id="selectSpecial" resultType="com.kanfa.news.app.vo.admin.live.LiveInfo">
        SELECT
            lv.id,
            lv.title,
            lv.subtitle,
            lv.live_status liveStatus ,
            lv.create_time createTime,
            lv.start_time startTime,
            lv.live_status liveStatus,
            lv.court_name courtName,
            lv.live_duration liveDuration,
            lv.cover_img coverImg,
            lv.flash_obj flashObj,
            lv.source_url sourceUrl,
            lv.live_type_id liveTypeId,
            lv.create_uid createUid,
            u.`name`
        FROM
            kf_live_special_bind lb
        RIGHT JOIN kf_live lv ON lv.id = lb.live_id
        LEFT JOIN base_user u ON u.id = lv.create_uid
        <where>
            lv.is_publish = 1
            and lv.is_delete = 0
            <if test="liveSpecialId != null">
            and lb.live_special_id = #{liveSpecialId}
            </if>
        </where>
        ORDER BY
            lv.live_recommend_weight DESC,
            lb.id DESC
    </select>


    <!-- 获取预告列表 -->
    <select id="selectPriviewList" resultType="com.kanfa.news.app.vo.admin.live.LiveInfo">
        SELECT
            lv.id,
            lv.title,
            lv.subtitle,
            lv.court_name courtName,
            lv.start_time startTime,
            lv.cover_img coverImg,
            lv.source_url sourceUrl,
            lv.flash_obj flashObj,
            lv.live_status liveStatus,
            lv.live_duration liveDuration,
            lv.live_type_id liveTypeId
        FROM
            kf_live lv
        <where>
            lv.is_delete = 0
            AND lv.is_publish = 1
            <if test="liveStatus == 0">
            AND lv.start_time > NOW()
            </if>
            <if test="liveStatus != null">
            AND lv.live_status = #{liveStatus}
            </if>
            <if test="liveTypeId != null">
            AND lv.live_type_id = #{liveTypeId}
            </if>
        </where>
        ORDER BY
            lv.start_time asc
        limit #{offset},#{limit}
    </select>

    <!-- 直播列表及筛选 -->
    <select id="getFilterList" resultType="com.kanfa.news.app.vo.admin.live.LiveInfo">
        SELECT
            lv.id,
            lv.title,
            lv.subtitle,
            lv.live_status liveStatus,
            lv.cover_img coverImg,
            lv.flash_obj flashObj,
            lv.source_url sourceUrl,
            lv.court_name courtName,
            lv.live_type_id liveTypeId,
            lv.live_duration liveDuration
        FROM
            kf_live lv
        <if test="liveTypeId == 2 and provinceId > 0">
        LEFT JOIN kf_live_court lc ON lv.court_id = lc.id
        </if>
        <where>
            lv.is_delete = 0 and lv.is_publish = 1
            <if test="signtime != null">
            AND  lv.creat_time  <![CDATA[<]]> #{signtime}
            </if>
            <if test="stat > 0">
            AND  lv.live_status = #{stat}
            </if>
            <if test="stat == 0">
            AND  lv.live_status = #{stat} and lv.start_time > now()
            </if>
            <if test="type > 0 and liveTypeId == 1">
            AND  lv.live_type_id = #{type}
            </if>
            <if test="type == null and liveTypeId == 1">
                AND  lv.live_type_id = #{liveTypeId}
            </if>
            <if test="liveTypeId == 2">
            AND  lv.live_type_id = #{liveTypeId}
                <if test="courtLevel > 0">
                    AND  lv.court_level = #{courtLevel}
                </if>
                <if test="caseType > 0">
                    AND  lv.case_type = #{caseType}
                </if>
                <if test="court > 0">
                    AND  lv.court_id = #{court}
                </if>
                <if test="provinceId > 0">
                    AND  lc.province_id = #{provinceId}
                </if>
            </if>
        </where>
        ORDER BY
        <if test="stat == -1">
            lv.live_status asc,
        </if>
            lv.is_top DESC,
            lv.live_status ASC
    </select>


    <!-- 直播首页获取预告 -->
    <select id="selectPriview" resultType="com.kanfa.news.app.vo.admin.live.LiveInfo">
        SELECT
            lv.id,
            lv.title,
            lv.subtitle,
            lv.court_name courtName,
            lv.start_time startTime,
            lv.cover_img coverImg,
            lv.source_url sourceUrl,
            lv.flash_obj flashObj,
            lv.live_status liveStatus,
            lv.live_duration liveDuration,
            lv.live_type_id liveTypeId
        FROM
            kf_live lv
        <where>
            lv.is_delete = 0
            AND lv.is_publish = 1
            <if test="liveStatus == 0">
                <![CDATA[ AND lv.start_time > NOW() and lv.start_time  <  (CONCAT(CURDATE(),'23:59:59'))]]>
            </if>
            <if test="liveStatus != null">
            AND lv.live_status = #{liveStatus}
            </if>
            <if test="liveTypeId != null and liveTypeId != 0">
            AND lv.live_type_id = #{liveTypeId}
            </if>
        </where>
        ORDER BY
          preview_show desc,id desc
        limit #{limit}
    </select>

    <!-- 获取条数 -->
    <select id="selectCountBy" resultType="integer">
        SELECT
            count(lv.id) AS count
        FROM
            kf_live lv
        WHERE
            lv.is_delete = 0
        AND lv.is_publish = 1
        <if test="liveStatus != null">
            AND lv.live_status = #{liveStatus}
        </if>
        <if test="liveTypeId != null">
            AND lv.live_type_id = #{liveTypeId}
        </if>
    </select>


    <!-- 获取直播详情内容 -->
    <select id="getLiveDetail" resultType="com.kanfa.news.app.vo.admin.live.LiveInfo">
        SELECT
            lv.id,
            lv.live_type_id liveTypeId,
            lv.title,
            lv.subtitle,
            lv.live_status liveStatus,
            lv.live_url liveUrl,
            lv.preview_url previewUrl,
            lv.review_url reviewUrl,
            lv.live_duration liveDuration,
            lv.view_count viewCount,
            lv.cover_img coverImg,
            lv.chatroom_notice chatroomNotice,
            lv.flash_obj flashObj,
            lv.live_content liveContent,
            lv.case_info caseInfo,
            lv.court_info courtInfo,
            lv.source_url sourceUrl,
            lv.is_publish isPublish,
            lv.comment_type commentType,
            lv.comment_status commentStatus,
            lv.chatroom_status chatroomStatus,
            lv.chatroom_keeplive chatroomKeeplive,
            lv.comment_count comment_count,
            lv.comment_checked_count commentCheckedCount,
            lv.source_id sourceId,
            lv.appvideo_view appvideoView,
            lc.`NAME`,
            lc.avatar,
            lc.live_count liveCount
        FROM
            kf_live lv
            LEFT JOIN kf_live_court lc ON lv.court_id = lc.id
        WHERE
            1 = 1
            AND CASE
            WHEN   <![CDATA[  lv.court_id <> 0 ]]>            THEN
            lc.stat = 1
            AND lv.is_delete = 0
            AND lv.is_publish = 1

            <if test="id != null">
                AND lv.id = #{id}
            </if>

            ELSE
            lv.is_delete = 0
            AND lv.is_publish = 1
            <if test="id != null">
                AND lv.id = #{id}
            </if>
            END

    </select>

    <insert id="addOneLive" parameterType="com.kanfa.news.app.vo.admin.live.LiveAddInfo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO kf_live (
                                title,
                                subtitle,
                                live_content,
                                live_status,
                                start_time,
                                live_type_id,
                                preview_url,
                                cover_img,
                                create_uid,
                                create_time,
                                comment_type,
                                chatroom_status,
                                source_id,
                                comment_status,
                                live_type,
                                live_recommend_weight,
                                from_remark,
                                is_publish,
                                is_delete,
                                is_lock,
                                chatroom_notice,
                                is_top,
                                update_time,
                                update_uid)
        VALUES (
                #{title},
                #{subtitle},
                #{liveContent},
                #{liveStatus},
                #{startTime},
                #{liveTypeId},
                #{previewUrl},
                #{coverImg},
                #{createUid},
                #{createTime},
                #{commentType},
                #{chatroomStatus},
                #{sourceId},
                #{commentStatus},
                #{liveType},
                #{liveRecommendWeight},
                #{fromRemark},
                #{isPublish},
                #{isDelete},
                #{isLock},
                #{chatroomNotice},
                #{isTop},
                #{updateUid},
                #{updateTime}
        )
    </insert>



    <select id="selectBindList" resultType="com.kanfa.news.app.vo.app.LiveVideoBindInfo">
        SELECT
        b.`sort`,
        b.sorttime,
        b.bind_id bindId,
        b.from_type fromType,
        l.`title`,
        l.view_count views,
        l.cover_img thumbimg,
        l.live_status live_stat,
        l.live_duration duration,
        l.live_type_id liveTypeId,
        22 `type`
        FROM
        kf_live_video_bind b
        LEFT JOIN kf_live l ON b.bind_id = l.id
        AND b.from_type = 2
        <where>
            l.is_publish = 1
            AND l.is_delete = 0
            <if test="id != null">
                AND b.cid = #{id}
            </if>
        </where>
        ORDER BY
        sort DESC,
        sorttime DESC
    </select>


    <select id="selectBindList2" resultType="com.kanfa.news.app.vo.app.LiveVideoBindInfo">
        SELECT
        b.sort,p
        b.sorttime,
        b.bind_id bindId,
        b.from_type fromType,
        l.`title`,
        l.view_count views,
        l.cover_img thumbimg,
        l.live_status live_stat,
        l.duration,
        l.live_type_id liveTypeId,
        22 `type`,
        b.id ,
        b.cid,
        l.create_uid createUid,
        l.create_time createTime,
        l.update_uid updateUid,
        l.update_time updateTime
        FROM
        kf_live_video_bind b
        LEFT JOIN kf_live l ON b.bind_id = l.id
        AND b.from_type = 2
        <where>
            l.is_publish = 1
            AND l.is_delete = 0
            <if test="id != null">
                AND b.cid = #{id}
            </if>
        </where>
        ORDER BY
        sort DESC,
        sorttime DESC
    </select>

    <select id="selectFromtype" resultType="integer">
        select distinct from_type from kf_live_video_bind
        <where>
            <if test="id != null">
                cid = #{id}
            </if>
        </where>
    </select>



    <!-- 得到工作类型的集合 -->
    <select id="getworkTypeList"  parameterType="java.lang.Integer" resultType="java.lang.Integer">
            SELECT
                work_type
            FROM
                kf_kpi_count
            WHERE
                type = #{type}
            AND type_id = #{typeId}
            AND uid = #{uid}
    </select>

    <!-- 编辑直播 -->
    <update id="updateLiveAddInfo" parameterType="com.kanfa.news.app.vo.admin.live.LiveAddInfo">
        update kf_live
        <trim prefix="set" suffixOverrides=",">
            <if test="id!=null and id!=''">id=#{id},</if>
            <if test="title!=null and title!=''">title=#{title},</if>
            <if test="subtitle!=null and subtitle!=''">subtitle=#{subtitle},</if>
            <if test="liveContent!=null and liveContent!=''">live_content=#{liveContent},</if>
            <if test="liveStatus!=null and liveStatus!=''">live_status=#{liveStatus},</if>
            <if test="startTime!=null">start_time=#{startTime},</if>
            <if test="liveTypeId!=null and liveTypeId!=''">live_type_id=#{liveTypeId},</if>
            <if test="previewUrl!=null and previewUrl!=''">preview_url=#{previewUrl},</if>
            <if test="coverImg!=null and coverImg!=''">cover_img=#{coverImg},</if>
            <if test="commentType!=null and commentType!=''">comment_type=#{commentType},</if>
            <if test="chatroomStatus!=null and chatroomStatus!=''">chatroom_status=#{chatroomStatus},</if>
            <if test="sourceId!=null and sourceId!=''">source_id=#{sourceId},</if>
            <if test="commentStatus!=null and commentStatus!=''">comment_status=#{commentStatus},</if>
            <if test="liveType!=null and liveType!=''">live_type=#{liveType},</if>
            <if test="fromRemark!=null and fromRemark!=''">from_remark=#{fromRemark},</if>
            <if test="isPublish!=null and isPublish!=''">is_publish=#{isPublish},</if>
            <if test="isDelete!=null and isDelete!=''">is_delete=#{isDelete},</if>
            <if test="isLock!=null and isLock!=''">is_lock=#{isLock},</if>
            <if test="chatroomNotice!=null and chatroomNotice!=''">chatroom_notice=#{chatroomNotice},</if>
            <if test="isTop!=null and isTop!=''">is_top=#{isTop},</if>
            <if test="updateUid!=null and updateUid!=''">update_uid=#{updateUid},</if>
            <if test="updateTime!=null">update_time=#{updateTime},</if>
            <if test="liveRecommendWeight!=null and liveRecommendWeight!=''">live_recommend_weight=#{liveRecommendWeight},</if>
        </trim>
        where id=#{id}
    </update>

    <!-- 直播列表的分页及内容查询 -->
    <select id="getLiveSearchPage" resultType="com.kanfa.news.app.vo.admin.live.LivePageInfo">
        SELECT
        kl.id,
        kl.title,
        kl.live_status liveStatus,
        bu.`name` createUser,
        kvt.name videoType,
        kl.create_time createTime,
        kl.update_time updateTime,
        kl.chatroom_allcount chatroomAllcount,
        kl.view_count viewCount,
        kl.id clickUrl,
        kl.is_publish isPublish
        FROM
        kf_live kl
        LEFT JOIN  base_user bu ON kl.create_uid = bu.id
        LEFT JOIN  kf_live_type kvt ON kl.live_type_id = kvt.id
        <where>
            <if test="liveTypeId!=null and liveTypeId!= '' ">
                AND kl.live_type_id=#{liveTypeId}
            </if>
            <if test="title!=null and title != ''">
                AND kl.title LIKE CONCAT('%',#{title},'%')
            </if>
            <if test="checkState!=null and checkState != ''">
                AND kl.check_state=#{checkState}
            </if>
            <if test="isDelete!=null and isDelete != ''">
                AND kl.is_delete=#{isDelete}
            </if>
            <if test="isLock!=null and isLock != ''">
                AND kl.is_lock=#{isLock}
            </if>
        </where>
        ORDER BY kl.live_recommend_weight DESC,kl.update_time DESC,kl.id DESC
    </select>

    <!--and pub = 1 and deleted=0 and check=1-->
    <select id="getLiveForMessage" parameterType="java.util.Map" resultType="com.kanfa.news.app.entity.Live">
        SELECT
                lv.id,
                lv.live_type_id liveTypeId,
                lv.title
        FROM
                kf_live lv
        <where>
            lv.is_delete = 0 AND lv.is_publish=1 AND lv.check_state = 1
            <if test="title != null">
                AND lv.title LIKE CONCAT('%',${title},'%')
            </if>
        </where>
        ORDER BY lv.id DESC
    </select>

    <select id="getLiveAllData" resultType="long">
        SELECT
            count(*)
        FROM
            kf_live
        WHERE
            live_status = 1
        AND is_delete = 0
        AND is_publish = 1
    </select>

</mapper>