<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kanfa.news.app.mapper.VideoAlbumBindMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.kanfa.news.app.entity.VideoAlbumBind" id="videoAlbumBindMap">
        <result property="id" column="id"/>
        <result property="videoAlbumId" column="video_album_id"/>
        <result property="videoId" column="video_id"/>
        <result property="sort" column="sort"/>
    </resultMap>


    <select id="getPage" parameterType="java.lang.Integer" resultType="com.kanfa.news.app.vo.admin.video.VideoAlbumBindInfo">
        SELECT
            lt.id,
            bu1.title,
            bu2.`name` updateName,
            bu2.upd_time updateTime
        FROM
            kf_video_album_bind lt
        LEFT JOIN kf_video_album bu ON lt.video_album_id = bu.id
        LEFT JOIN kf_demand bu1 ON lt.video_id = bu1.id
        LEFT JOIN base_user bu2 ON bu.update_uid = bu2.id
        WHERE
            bu.id = #{id}
    </select>




    <select id="getContentPage"  resultType="com.kanfa.news.app.vo.admin.video.VideoAlbumBindInfo">
            SELECT
                bu1.id,
                bu1.title
            FROM
                kf_demand bu1
            WHERE bu1.id NOT IN (
                    SELECT
                        vab.video_id
                    FROM
                        kf_video_album_bind vab WHERE vab.video_album_id = #{videoAlbumId}
                )
                AND  bu1.title  LIKE CONCAT('%',#{text},'%' )
    </select>
</mapper>