<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kanfa.news.info.mapper.ActivityVotePeopleCommentMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.kanfa.news.info.entity.ActivityVotePeopleComment" id="activityVotePeopleCommentMap">
        <result property="id" column="id"/>
        <result property="activityVotePeopleId" column="activity_vote_people_id"/>
        <result property="comment" column="comment"/>
        <result property="status" column="status"/>
        <result property="isDelete" column="is_delete"/>
        <result property="userId" column="user_id"/>
        <result property="nick" column="nick"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="image" column="image"/>
        <result property="province" column="province"/>
        <result property="position" column="position"/>
    </resultMap>


    <select id="getActivityVotePeopleCommentPage" resultType="com.kanfa.news.info.vo.admin.activity.ActivityVotePeopleCommentPageInfo">
        SELECT
        kavpc.id,
        kavpc.nick,
		kavp.`name` activityVotePeopleName,
		kavpc.`comment`,
		kavpc.`status`
        FROM kf_activity_vote_people_comment kavpc
		LEFT JOIN kf_activity_vote_people kavp ON kavpc.activity_vote_people_id = kavp.id
        <where>
            <if test="status!=null and status != ''">
                AND kavpc.status=#{status}
            </if>
            <if test="activityVotePeopleId!=null and activityVotePeopleId != ''">
                AND kavpc.activity_vote_people_id=#{activityVotePeopleId}
            </if>
            <if test="isDelete!=null and isDelete != ''">
                AND kavpc.is_delete=#{isDelete}
            </if>
        </where>
        ORDER BY kavpc.id DESC,kavpc.create_time DESC
    </select>


</mapper>