<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kanfa.news.info.mapper.ActivityVotePeopleMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.kanfa.news.info.entity.ActivityVotePeople" id="activityVotePeopleMap">
        <result property="id" column="id"/>
        <result property="activityVoteId" column="activity_vote_id"/>
        <result property="name" column="name"/>
        <result property="summary" column="summary"/>
        <result property="detail" column="detail"/>
        <result property="orderNumber" column="order_number"/>
        <result property="status" column="status"/>
        <result property="presetVote" column="preset_vote"/>
        <result property="voteTotal" column="vote_total"/>
        <result property="presetComment" column="preset_comment"/>
        <result property="commentTotal" column="comment_total"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


    <!-- 新增建言/投票活动中的候选人 -->
    <select id="getActivityVotePeoplePage"  resultType="com.kanfa.news.info.vo.admin.activity.ActivityVotePeoplePageInfo">
        SELECT
        kavp.id,
        kavp.`name`,
        kavp.summary,
        kavp.order_number orderNumber,
        kavp.vote_total voteTotal,
        kavp.comment_total commentTotal,
        kavp.create_time createTime
        FROM kf_activity_vote_people kavp
        <where>
            <if test="name!=null and name != '' ">
                AND kavp.`name` LIKE CONCAT('%',#{name},'%')
            </if>
            <if test="status!=null ">
                AND kavp.status=#{status}
            </if>
            <if test="activityVoteId!=null">
            AND kavp.activity_vote_id=#{activityVoteId}
            </if>
            <if test="id!=null">
                AND kavp.id=#{id}
            </if>
        </where>
        ORDER BY kavp.id DESC
    </select>


    <insert id="ActivityVotePeopleAdd" parameterType="com.kanfa.news.info.entity.ActivityVotePeople" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO kf_activity_vote_people  (
                        activity_vote_id,
                       `name`,
                        summary,
                        detail,
                        order_number,
                        preset_vote,
                        preset_comment,
                        create_time
                    )
                    VALUES
                        (
                            #{activityVoteId},
                            #{name},
                            #{summary},
                            #{detail},
                            #{orderNumber},
                            #{presetVote},
                            #{presetComment},
                            #{createTime}
                        )

    </insert>


</mapper>