<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kanfa.news.info.mapper.AdvertisementConfigMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.kanfa.news.info.entity.AdvertisementConfig" id="advertisementConfigMap">
        <result property="id" column="id"/>
        <result property="platform" column="platform"/>
        <result property="channelId" column="channel_id"/>
        <result property="position" column="position"/>
        <result property="pid" column="pid"/>
        <result property="adType" column="ad_type"/>
    </resultMap>

</mapper>