<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kanfa.news.info.mapper.CommentBlacklistMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.kanfa.news.info.entity.CommentBlacklist" id="commentBlacklistMap">
        <result property="id" column="id"/>
        <result property="deviceId" column="device_id"/>
        <result property="uid" column="uid"/>
        <result property="name" column="name"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="getBlackUserPage" resultType="com.kanfa.news.info.vo.admin.comment.CommentBlacklistInfo">
        SELECT
                id,
                device_id deviceId,
                uid uid,
                name,
                create_time createTime
        FROM
                kf_comment_blacklist
    </select>
</mapper>