<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kanfa.news.info.mapper.ContentBroadcastMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.kanfa.news.info.entity.ContentBroadcast" id="contentBroadcastMap">
        <result property="id" column="id"/>
        <result property="cid" column="cid"/>
        <result property="broadcastStatus" column="broadcast_status"/>
        <result property="preTime" column="pre_time"/>
        <result property="videoImg" column="video_img"/>
        <result property="encrypt" column="encrypt"/>
        <result property="previewUrl" column="preview_url"/>
        <result property="liveUrl" column="live_url"/>
        <result property="reviewUrl" column="review_url"/>
        <result property="partnerNum" column="partner_num"/>
        <result property="refreshCount" column="refresh_count"/>
        <result property="createTime" column="create_time"/>
        <result property="createUid" column="create_uid"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateUid" column="update_uid"/>
        <result property="isDelete" column="is_delete"/>
        <result property="liveId" column="live_id"/>
        <result property="replayDuration" column="replay_duration"/>
        <result property="startTime" column="start_time"/>
        <result property="liveSourceChannel" column="live_source_channel"/>
        <result property="appname" column="appname"/>
        <result property="streamsname" column="streamsname"/>
        <result property="broadcastPhone" column="broadcast_phone"/>
        <result property="liveAddress" column="live_address"/>
        <result property="title" column="title"/>
    </resultMap>

    <select id="selectByCid" resultMap="contentBroadcastMap">
        SELECT
          *
          FROM
           kf_content_broadcast cb
           <where>
               <if test="cid != null">
                   cb.cid = #{cid}
               </if>
           </where>
    </select>

    <!-- aliyun列表的分页展示及搜索 -->
    <select id="getPage" parameterType="com.kanfa.news.info.vo.admin.live.ContentBroadcastInfo" resultType="com.kanfa.news.info.vo.admin.live.ContentBroadcastInfo">
        SELECT
        kcb.id,
        kcb.title,
        kcb.broadcast_status broadcastStatus,
        kcb.broadcast_phone broadcastPhone,
        kcb.preview_url previewUrl,
        kcb.live_url liveUrl,
        kcb.review_url reviewUrl,
        kc.check_status isPublish,
        kcb.create_time createTime
        FROM kf_content_broadcast kcb
        LEFT JOIN base_user kau ON kcb.create_uid = kau.id
        LEFT JOIN kf_content kc ON kcb.cid = kc.id
        <where>
            <if test="title!=null and title != ''">
                AND kcb.title LIKE CONCAT('%',#{title},'%' )
            </if>
            <if test="isDelete!=null and isDelete != ''">
                AND kcb.is_delete=#{isDelete}
            </if>
        </where>
        ORDER BY kcb.id DESC,kcb.update_time DESC
    </select>



    <insert id="addContentBroadcast" parameterType="com.kanfa.news.info.entity.ContentBroadcast" useGeneratedKeys="true" keyProperty="id">

       INSERT INTO `kf_content_broadcast` (
            cid,
            live_source_channel,
            title,
            appname,
            streamsname,
            broadcast_phone,
            live_address,
            start_time
        )
        VALUES
            (
                #{cid},
                #{liveSourceChannel},
                #{title},
               #{appname},
               #{streamsname},
               #{broadcastPhone},
               #{liveAddress},
               #{startTime}
           )
    </insert>
</mapper>