<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kanfa.news.info.mapper.ContentSpecialMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.kanfa.news.info.entity.ContentSpecial" id="contentSpecialMap">
        <result property="id" column="id"/>
        <result property="contentId" column="content_id"/>
        <result property="targetCid" column="target_cid"/>
        <result property="isPublish" column="is_publish"/>
        <result property="publishTime" column="publish_time"/>
        <result property="isDelete" column="is_delete"/>
        <result property="orderNumber" column="order_number"/>
        <result property="catalogId" column="catalog_id"/>
    </resultMap>

    <select id="getIndexSpecialData" resultType="com.kanfa.news.info.vo.admin.info.ContentInfo">
      SELECT
            DISTINCT
                c.id,
                c.content_state contentState,
                c.content_type contentType,
                c.title,
                c.image,
                cs.publish_time,
                c.source_type sourceType,
                cs.order_number orderNumber,
                cc.card_type cardType
            FROM
                kf_content_special cs
            LEFT JOIN kf_content c ON cs.target_cid = c.id
            LEFT JOIN kf_channel_content cc ON c.id = cc.content_id
        <where>
             cs.is_delete = 1
            AND cs.is_publish = 1
            AND c.content_state = 1
            <if test="sid != null">
                AND  cs.content_id = #{sid}
            </if>
        </where>
            ORDER BY
                cs.order_number ASC
            LIMIT 2
    </select>

    <select id="selectListSpecialContent" resultType="com.kanfa.news.info.vo.admin.info.ContentInfo">
        SELECT
                c.id,
                c.title,
                c.update_time updateTime,

                au.`name` updateUser,

                d.contentType contentTypeName
        FROM
                kf_content_special cs
                LEFT JOIN kf_content c ON c.id=cs.target_cid
                LEFT JOIN kf_dictionary d ON d.id=c.content_type
                LEFT JOIN base_user au ON au.id=c.create_uid
        <where>
            <if test="contentSpecial.catalogId!=null">
                c.content_state=1 AND cs.is_delete=1 AND cs.catalog_id=#{contentSpecial.catalogId}
            </if>
        </where>
        ORDER BY cs.order_number ASC
    </select>

    <select id="selectSpecialContentListByCid" parameterType="java.lang.Integer" resultType="java.util.Map">

        SELECT
        sc.id,
        sc.title,
        group_concat(
        cs.target_cid
        ORDER BY
        cs.order_number ASC
        ) AS target_cid
        FROM
        kf_special_catalog sc
        LEFT JOIN kf_content_special cs ON cs.catalog_id = sc.id
        WHERE
        sc.is_delete=1 and cs.is_delete=1 and cs.is_publish=1

        <if test="cid!=null">
            and sc.cid = #{cid}
            and cs.content_id = #{cid}
        </if>
        GROUP BY
        sc.id
        ORDER BY
        sc.order_number ASC

    </select>

    <select id="selectBindSpecialContentListByCid" parameterType="java.lang.Integer" resultType="java.util.Map">

               SELECT
            c.*, cc.publish_time,
            cc.channel_id,
            cs.order_number
        FROM
            kf_content c
        LEFT JOIN kf_channel_content cc ON c.id = cc.content_id
        LEFT JOIN kf_content_special cs ON cs.target_cid = c.id
        WHERE 1=1
        <if test="entity.cid!=null">
            and cs.content_id = #{entity.cid}
        </if>
        <if test="entity.catalogId!=null">
            and cs.catalog_id = #{entity.catalogId}
        </if>
        <if test="entity.ids!=null and entity.ids.size()>0">
            AND c.id  IN
            <foreach collection="entity.ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        GROUP BY
            c.id
        ORDER BY
            cs.order_number ASC

    </select>

    <insert id="addContentSpecial" parameterType="com.kanfa.news.info.entity.ContentSpecial" useGeneratedKeys="true" keyProperty="id">
        insert into kf_content_special(
                                            content_id,
                                            target_cid,
                                            order_number,
                                            is_delete,
                                            is_publish,
                                            publish_time,
                                            catalog_id
                                            )
        values(#{contentId},
                #{targetCid},
                (SELECT IF(MAX(sc.order_number),MAX(sc.order_number)+1,1) FROM kf_content_special sc),
                #{isDelete},
                #{isPublish},
                #{publishTime},
                #{catalogId}
                )
    </insert>

</mapper>