<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kanfa.news.info.mapper.FeedbackMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.kanfa.news.info.entity.Feedback" id="feedbackMap">
        <result property="id" column="id"/>
        <result property="uid" column="uid"/>
        <result property="advise" column="advise"/>
        <result property="phone" column="phone"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="getFeedbackPage" resultType="com.kanfa.news.info.vo.admin.appuser.FeedbackInfo">
        SELECT
                   fd.id,
                   u.nickname,
                   fd.advise,
                   fd.phone,
                   fd.create_time createTime
        FROM
                kf_feedback fd
                LEFT JOIN kf_user u ON u.id=fd.uid
        ORDER BY fd.id DESC ,fd.create_time DESC
    </select>
</mapper>