<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kanfa.news.info.mapper.KpiUserInfoMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.kanfa.news.info.entity.KpiCount" id="kpiCountMap">
        <result property="id" column="id"/>
        <result property="uid" column="uid"/>
        <result property="type" column="type"/>
        <result property="typeId" column="type_id"/>
        <result property="name" column="name"/>
        <result property="articleType" column="article_type"/>
        <result property="workType" column="work_type"/>
        <result property="weight" column="weight"/>
        <result property="firstCheckTime" column="first_check_time"/>
        <result property="firstCheckId" column="first_check_id"/>
        <result property="isNumPass" column="is_num_pass"/>
        <result property="jobId" column="job_id"/>
        <result property="departmentId" column="department_id"/>
        <result property="isSpecial" column="is_special"/>
        <result property="pvFinishTime" column="pv_finish_time"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="remarks" column="remarks"/>
    </resultMap>

    <select id="listUserInfo" resultType="com.kanfa.news.info.vo.admin.kpicount.KpiUserInfo">
        SELECT
        cu.id,
        cu.`name`,
        cd.`name` departmentName,
        cj.`name` jobName
        FROM
        kf_corp_user cu
        LEFT JOIN kf_corp_dept cd ON cu.level2_id = cd.id
        LEFT JOIN kf_corp_job cj ON cu.job_id = cj.id
        where 1=1
        <if test=" null != departmentId and departmentId != ''" >
            AND cd.id = #{departmentId}
        </if>


    </select>

</mapper>