<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kanfa.news.info.mapper.LiveFocusMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.kanfa.news.info.entity.LiveFocus" id="liveFocusMap">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="liveTypeId" column="live_type_id"/>
        <result property="image" column="image"/>
        <result property="pub" column="pub"/>
        <result property="sort" column="sort"/>
        <result property="url" column="url"/>
        <result property="liveId" column="live_id"/>
        <result property="jump" column="jump"/>
        <result property="stat" column="stat"/>
        <result property="createUid" column="create_uid"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUid" column="update_uid"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


    <select id="getPage" resultType="com.kanfa.news.info.vo.admin.live.LiveFocusInfo">
                SELECT
                    klf.id,
                    klf.title,
                    klt.`name` liveType,
                    kau.`name` updateUser,
                    klf.update_time updateTime,
                    klf.pub isPublish
                FROM
                    kf_live_focus klf
                LEFT JOIN kf_live_type klt ON klf.live_type_id = klt.id
                LEFT JOIN base_user kau ON klf.update_uid = kau.id
        <where>
            <if test="stat!=null and stat!= ''">
                AND klf.stat=#{stat}
            </if>
            <if test="liveTypeId!=null and liveTypeId!= '' ">
                AND klf.live_type_id=#{liveTypeId}
            </if>
            <if test="title!=null and title != '' ">
                AND klf.title LIKE CONCAT('%',#{title},'%')
            </if>
        </where>
                ORDER BY
                    klf.sort DESC,
                    klf.update_time DESC,
                    klf.id DESC
    </select>

    <select id="selectFocus" resultType="com.kanfa.news.info.vo.admin.live.LiveInfo">
        SELECT
            lf.id,
            lf.image,
            lf.title,
            lf.url,
            lf.live_id liveId,
            lf.jump,
            lv.source_url sourceUrl,
            lv.flash_obj flashObj,
            lf.live_type_id liveTypeId
        FROM
            kf_live_focus lf left JOIN  kf_live lv on lv.id = lf.live_id
        <where>
            lf.pub = 1
            and lf.stat = 1
            <if test="liveTypeId != null">
                AND lf.live_type_id = #{liveTypeId}
            </if>
        </where>
        ORDER BY lf.sort desc, lf.id DESC
        limit #{limit}
    </select>




</mapper>