<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kanfa.news.info.mapper.PcadvMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.kanfa.news.info.entity.Pcadv" id="pcadvMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="title" column="title"/>
        <result property="image" column="image"/>
        <result property="url" column="url"/>
        <result property="description" column="description"/>
        <result property="views" column="views"/>
        <result property="createUid" column="create_uid"/>
        <result property="createTime" column="create_time"/>
        <result property="isDelete" column="is_delete"/>
        <result property="orderNumber" column="order_number"/>
    </resultMap>

    <insert id="addPcAdv" useGeneratedKeys="true" keyProperty="id" parameterType="com.kanfa.news.info.vo.admin.pcadv.PcadvInfo">
        insert into kf_pcadv(
                                name,
                                start_time,
                                end_time,
                                title,
                                <if test="image!=null and image!='' ">
                                    image,
                                </if>
                                url,
                                description,
                                create_uid,
                                create_time,
                                is_delete,
                                order_number
        )
        values(#{name},
                #{startTime},
                #{endTime},
                #{title},
                <if test="image!=null and image!='' ">
                    #{image},
                </if>
                #{url},
                #{description},
                #{createUid},
                #{createTime},
                #{isDelete},
                (SELECT IF(MAX(adv.order_number),MAX(adv.order_number)+1,1) FROM kf_pcadv adv)
                )
    </insert>

    <select id="getPcAdvPage" resultType="com.kanfa.news.info.vo.admin.pcadv.PcadvInfo">
        SELECT
                    adv.id,
                    adv.name,
                    adv.start_time startTime,
                    adv.end_time endTime,
                    adv.views,
                    au.`name` createUser
        FROM
                kf_pcadv adv
                LEFT JOIN base_user au ON adv.create_uid=au.id
        <where>
            <if test="isDelete!=null">
                AND adv.is_delete = #{isDelete}
            </if>
            <if test="name!=null and name!='' ">
                AND adv.name LIKE CONCAT('%',#{name},'%')
            </if>
            <if test="online!=null">
                <if test="online==1">
                    AND adv.start_time &gt;= now()
                </if>
                <if test="online==2">
                    AND adv.start_time &lt;= now() AND adv.end_time &gt;= now()
                </if>
                <if test="online==3">
                    AND adv.end_time &lt;= now()
                </if>
            </if>
        </where>
        ORDER BY adv.order_number DESC,adv.create_time DESC
    </select>

    <select id="getOnlineNumPcAdv" resultType="com.kanfa.news.info.vo.admin.adv.AdvOnlineNumInfo">
        SELECT (SELECT COUNT(*) FROM kf_pcadv WHERE start_time &lt;= now() AND end_time &gt;= now() AND is_delete =1) as online,(SELECT COUNT(*) FROM kf_pcadv WHERE end_time &lt; now()AND is_delete =1) as notOnline
    </select>

    <select id="getPcadvInfoByIds" resultType="com.kanfa.news.info.entity.Pcadv">
        SELECT
                    id,
                    order_number orderNumber
        FROM
                kf_pcadv
        <where>
            <if test="oldIds !=null and oldIds.size()>0">
                id IN
                <foreach collection="oldIds" separator="," open="(" close=")" item="id">
                    #{id}
                </foreach>
            </if>
        </where>
        ORDER BY field
        <foreach collection="oldIds" item="id" close=")" open="(id," separator=",">
            #{id}
        </foreach>
    </select>
</mapper>