<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kanfa.news.info.mapper.RecommendweightMapper">

	 <select id="recommendweightStart"  >
         UPDATE kf_channel_content
         SET recommend_weight = 60
         WHERE
         recommend_weight &lt;&gt; 60

         <if test="null != startDate and startDate != '' and null != endDate and endDate != ''">
             AND publish_time &gt; #{startDate}
             AND publish_time &lt; #{endDate}
         </if>



     </select>
    
    <select id="recommendweightLive" >
        UPDATE kf_live
        SET live_recommend_weight = 60
        WHERE
        live_recommend_weight &gt; 60
        <if test=" null != endDate and endDate != ''">
            AND update_time &lt; #{endDate}
        </if>

    </select>

</mapper>