<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kanfa.news.info.mapper.VideoTagMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.kanfa.news.info.entity.VideoTag" id="videoTagMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="isDelete" column="is_delete"/>
        <result property="createUid" column="create_uid"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="getTagListByConentId" resultType="com.kanfa.news.info.entity.VideoTag">
        SELECT
                vt.id,
                vt.name
        FROM
                kf_video_tag_bind vtb
        LEFT JOIN kf_video_tag vt
        ON vt.id=vtb.video_tag_id
        <where>
            <if test="videoId != null">
                vtb.video_id=#{videoId}
            </if>
        </where>
    </select>

    <select id="getPage" resultType="com.kanfa.news.info.vo.admin.video.VideoTagInfo">
        SELECT
        lt.id,
        lt.`name`,
        bu.`name` createUser,
        lt.create_time creatTime
        FROM
        kf_video_tag lt
        LEFT JOIN base_user bu ON lt.create_uid = bu.id
		WHERE lt.is_delete = 1
    </select>

    <select id="getSearchPage" parameterType="java.lang.String" resultType="com.kanfa.news.info.vo.admin.video.VideoTagInfo">
        SELECT
        lt.id,
        lt.`name`,
        bu.`name` createUser,
        lt.create_time creatTime
        FROM
        kf_video_tag lt
        LEFT JOIN base_user bu ON lt.create_uid = bu.id
        WHERE lt.is_delete = 1  AND lt.`name` LIKE CONCAT('%',#{text},'%' )
    </select>

    <select id="selectTag" resultType="com.kanfa.news.info.vo.admin.video.VideoTagInfo">
        SELECT
                vt.id,
                vt.`name`
        FROM
                kf_video_tag vt
        <where>
            vt.is_delete = 1
            <if test="entity.tagNameList != null">
                AND instr
                <foreach collection="entity.tagNameList" item="name" open="('" close="',`name`)" separator=",">
                    ${name}
                </foreach>
            </if>
        </where>
    </select>

    <insert id="addTag" parameterType="com.kanfa.news.info.entity.VideoTag" useGeneratedKeys="true" keyProperty="id">
        insert into kf_video_tag(
                                  name,
                                  is_delete,
                                  create_uid,
                                  create_time
                                  )
        values(#{name},
                #{isDelete},
                #{createUid},
                #{createTime}
                )
    </insert>
</mapper>