body#newDetailsImage {
    background: #F5F5F5;
    color: #333;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*.clearfix:after{content:'\0020';display:block;height:0;font-size:0;visibility:hidden;clear:both;}*/
/*.clearfix{*zoom:1;}*/
.image-wrap {
    width: 1200px;
    margin: 0 auto;
    min-height: 650px;
    padding-top: 170px;
}

/*轮播图开始*/
.image-wrap .main {
    width: 830px;
}

.image-wrap .main.carousel .item img {
    display: block;
    height: 554px;
    margin: 0 auto;
}

.image-wrap .main.carousel .carousel-inner {
    background: #333333;
}

.image-wrap .main.carousel .carousel-control.left {
    background-image: none;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}

.image-wrap .main.carousel .carousel-control.right {
    left: auto;
    right: 0;
    background-image: none;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}

/*轮播图结束*/
/*右侧轮播图片介绍开始*/
.image-wrap .side {
    background: #fff;
    height: 554px;
    position: relative;
    width: 340px;
}

.image-wrap .side .desc-page {
    color: #ccc;
    position: relative;
    padding: 35px 0 0 32px;
    font-size: 12px;
    font-family: ArialMT;
    border-bottom: 1px solid #E1E1E1;
    padding-bottom: 15px;
    margin: 0 20px;
}

.image-wrap .side .desc-page .now-num {
    font-size: 26px;
    color: #333333;
    position: absolute;
    left: 0;
    top: 30px;
}

.image-wrap .side .desc-page .line {
    font-size: 23px;
}

.image-wrap .side .desc-info {
    line-height: 24px;
    font-size: 14px;
    color: #666666;
    padding: 25px 0 10px;
    margin: 0 20px;
}

.image-wrap .side .desc-info .title {
    font-size: 20px;
    color: #333333;
    font-weight: bold;
}

.image-wrap .side .desc-info .content {
    font-size: 14px;
    color: #999999;
    line-height: 22px;
    margin-top: 10px;
}

.image-wrap .side .desc-ft {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 20px;
}

.image-wrap .side .desc-ft .time {
    border-bottom: 1px solid #E1E1E1;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: 12px;
    color: #999999;
}

.image-wrap .side .desc-ft .share {
    font-size: 14px;
    color: #333;
}

/*右侧轮播图片介绍结束*/
/*最后一页推荐开始*/
.photo-end-layer {
    margin: 150px auto 0 auto;
    border:solid 1px #f5f5f5;
    width: 1002px;
    background: #fff;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.10);
}

.photo-end-layer .hd {
    /*margin: 0 30px;*/
    line-height: 40px;
    margin: 30px 30px 15px;
}

.photo-end-layer .hd a.replay {
    color: #FF4F53;
    background: #fff;
}

.photo-end-layer .hd a {
    display: inline-block;
    background: #FF4F53;
    border-radius: 4px;
    width: 105px;
    height: 36px;
    line-height: 36px;
    border: 2px solid #FF4F53;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

.photo-end-layer .hd a i {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 10px;
    background: url(../images/replay.png) no-repeat;
    vertical-align: middle;
}

.photo-end-layer .hd h3 {
    font-size: 30px;
    color: #333333;
}

.photo-end-layer .bd {
    margin: 0 30px;
}

.photo-end-layer .bd .list ul {
    margin-left: -20px;
}

.photo-end-layer .bd .list li {
    height: 200px;
    float: left;
    width: 220px;
    margin: 0 0 8px 20px;
}

.photo-end-layer .bd .list li img {
    width: 220px;
    height: 148px;
}

.photo-end-layer .bd .list li p {
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
}
/*最后一页推荐结束*/


