/*.clearfix:after{content:'\0020';display:block;height:0;font-size:0;visibility:hidden;clear:both;}*/
/*.clearfix{*zoom:1;}*/
.video-main {
    min-height: 650px;
    padding-top: 170px;
}

.video-main .wrap {
    width: 1200px;
    margin: 0 auto;
}

.video-main .wrap .main {
    width: 830px;
}

.video-main .wrap .main .video-box .video video {
    width: 830px;
    height: 520px;
    background: #333333;
}

.video-main .wrap .main .video-box .info {
    margin-top: 15px;
}

.video-main .wrap .main .video-box .info .words {
    width: 640px;
}

.video-main .wrap .main .video-box .info .words .tit {
    height: 26px;
    overflow: hidden;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}

.video-main .wrap .main .video-box .info .words .intro {
    width: 670px;
    overflow: hidden;
    margin-bottom: 6px;
    font-size: 12px;
    color: #999999;
    line-height: 16px;
    position: relative;
}

.video-main .wrap .main .video-box .info .words .intro .slide {
    padding-right: 12px;
    background: url(../images/slide.png) right 5px no-repeat #ffffff;
    color: #156EEA;
    line-height: 16px;
    position: absolute;
    top: 0;
    right: 0;
}

.video-main .wrap .main .video-box .info .words .intro .slide.show {
    background: url(../images/show.png) right 5px no-repeat #ffffff;
}

.video-main .wrap .main .video-box .info .words .time {
    color: #999999;
}

.video-main .wrap .main .video-box .info .handle {
    width: 113px;
}

.video-main .wrap .main .video-box .info .handle .num {
    width: 96px;
    display: inline-block;
    margin-bottom: 30px;
    padding-left: 16px;
    font-size: 14px;
    background: url(../images/media-play.png) 0 3px no-repeat;
}

.video-main .wrap .side {
    width: 340px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.video-fixed {
    display: none;
    width: 320px;
    height: 240px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.20);
    position: fixed;
    bottom: 76px;
    right: 0
}

.video-fixed video {
    width: 100%;
}

.video-fixed .close {
    display: inline-block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    z-index: 1000;
    font-size: 14px;
}