<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kanfa.news.info.mapper.ActivityBlueSkyTopMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.kanfa.news.info.entity.ActivityBlueSkyTop" id="activityBlueSkyTopMap">
        <result property="id" column="id"/>
        <result property="blueskyPeopleid" column="bluesky_peopleid"/>
        <result property="voteTotal" column="vote_total"/>
        <result property="blueskyDate" column="bluesky_date"/>
        <result property="ranking" column="ranking"/>
    </resultMap>

</mapper>