<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kanfa.news.info.mapper.AdminLogMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.kanfa.news.info.entity.AdminLog" id="adminLogMap">
        <result property="id" column="id"/>
        <result property="action" column="action"/>
        <result property="actionUrl" column="action_url"/>
        <result property="ip" column="ip"/>
        <result property="createUid" column="create_uid"/>
        <result property="createTime" column="create_time"/>
        <result property="type" column="type"/>
        <result property="contentId" column="content_id"/>
    </resultMap>

    <select id="getAdminLogPage" parameterType="java.util.Map" resultType="com.kanfa.news.info.vo.admin.adminlog.AdminLogInfo">
        SELECT
                al.`id`,
                al.`action`,
                al.`action_url` actionUrl,
                al.`ip`,
                au.`name` createUser,
                al.`create_time` createTime,
                al.`type`
        FROM
                kf_admin_log al
                LEFT JOIN base_user au ON au.id=al.`create_uid`
        <where>
            <if test="keyword!=null and keyword!=''">
                AND  au.`name`=#{keyword}
            </if>
            <if test="startTime!=null and startTime!=''">
                AND al.create_time &gt;= (SELECT UNIX_TIMESTAMP(#{startTime}))
            </if>
            <if test="endTime!=null and endTime!=''">
                AND al.create_time &lt;= (SELECT UNIX_TIMESTAMP(#{endTime}))
            </if>
        </where>
        ORDER BY al.id DESC ,al.create_time DESC
    </select>
</mapper>