<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kanfa.news.info.mapper.CountUserContentMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.kanfa.news.info.entity.CountUserContent" id="countUserContentMap">
        <result property="id" column="id"/>
        <result property="countDate" column="count_date"/>
        <result property="uid" column="uid"/>
        <result property="editName" column="edit_name"/>
        <result property="cid" column="cid"/>
        <result property="pureText" column="pure_text"/>
        <result property="article" column="article"/>
        <result property="images" column="images"/>
        <result property="video" column="video"/>
        <result property="live" column="live"/>
        <result property="isOriginal" column="is_original"/>
        <result property="isWork" column="is_work"/>
    </resultMap>

</mapper>