<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kanfa.news.info.mapper.HotGetListMapper">

	 <select id="list" resultType="map">
         SELECT DISTINCT
             c.id,
             c.category type,
             c.image,
             c.title,
             c.view_count views
         FROM
            kf_content c
         INNER JOIN kf_channel_content cc ON c.id = cc.content_id
         INNER JOIN kf_channel kfc ON c.id = cc.channel_id
         WHERE
             1 = 1
             AND c.category = #{type}
             <if test="2 == type" >
                 AND c.image != ''
             </if>

             AND cc.is_delete = 1
             AND cc.is_publish = 1
             AND kfc.shop_show = 4
             AND kfc.is_publish = 1

         <if test="null != startDate and startDate != '' and null != endDate and endDate != ''">
             AND cc.publish_time &gt;= #{startDate}
             AND cc.publish_time &lt;= #{endDate}
         </if>

         ORDER BY
         c.view_count DESC
         limit #{page},#{limit}

     </select>
    
    <select id="findImageNum" resultType="map">
            SELECT
                num
            FROM
                kf_content_image
            WHERE
                1 = 1
            AND cid = #{cid}
            AND stat = 1
            LIMIT 1

    </select>

    <select id="findDuration" resultType="map">
            SELECT
                duration
            FROM
                kf_content_image
            WHERE
                1 = 1
            AND cid = #{cid}
            AND stat = 1
            LIMIT 1

    </select>

</mapper>