<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kanfa.news.info.mapper.SearchMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.kanfa.news.info.entity.Search" id="searchMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="clickNum" column="click_num"/>
        <result property="impTime" column="imp_time"/>
        <result property="createUid" column="create_uid"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUid" column="update_uid"/>
        <result property="updateTime" column="update_time"/>
        <result property="show" column="show"/>
        <result property="stat" column="stat"/>
        <result property="endTime" column="end_time"/>
    </resultMap>


    <select id="getSearchKeyword" resultMap="searchMap">
        SELECT
            id,
            `name`
        FROM
            kf_search
        WHERE
            stat = 1
        AND `SHOW` = 1
        ORDER BY
            click_num DESC
        LIMIT 5
    </select>


    <!-- 搜索关键字列表的分页 -->
    <select id="getSearchPage" resultType="com.kanfa.news.info.vo.admin.search.SearchInfo">
            SELECT
            ks.id,
            ks.`name`,
            ks.show,
            kau.`name` createUser,
            ks.create_time createTime,
            ks.end_time endTime,
            kau1.`name` updateUser,
            ks.update_time updateTime
            FROM kf_search ks
            LEFT JOIN base_user kau on  ks.create_uid = kau.id
            LEFT JOIN base_user kau1 on ks.update_uid = kau1.id
            WHERE ks.stat = 1
            ORDER BY ks.id DESC
    </select>


</mapper>