<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kanfa.news.admin.mapper.BurstMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.kanfa.news.admin.entity.Burst" id="burstMap">
        <result property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="userId" column="user_id"/>
        <result property="burstTypeId" column="burst_type_id"/>
        <result property="address" column="address"/>
        <result property="point" column="point"/>
        <result property="remark" column="remark"/>
        <result property="content" column="content"/>
        <result property="addDesc" column="add_desc"/>
        <result property="bindNum" column="bind_num"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="adminId" column="admin_id"/>
    </resultMap>
   <!-- <select id="getPage" parameterType="java.util.Map" resultType="com.kanfa.news.admin.vo.admin.burst.BurstInfo">
        SELECT
                b.id,
                b.user_name userName,
                bt.name typeName,
                b.address,
                b.remark,
                b.bind_num bindNum,
                b.status,
                b.create_time createTime,
                u.phone phone
        FROM
          kf_burst b
                LEFT JOIN kf_burst_type bt ON b.burst_type_id = bt.id
                LEFT JOIN kf_user u ON b.user_id = u.id
        <where>
            <if test="status!=null and status!=''">
               AND b.status=#{status}
            </if>
            <if test="keyword!=null and keyword!=''">
               AND (b.id=#{keyword} OR u.phone=#{keyword})
            </if>
        </where>
        ORDER BY b.create_time DESC
    </select>

    <select id="getBurstInfoById" resultType="com.kanfa.news.admin.vo.admin.burst.BurstInfo">
        SELECT
                b.id,
                b.user_name userName,
                bt.id typeId,
                bt.name typeName,
                b.address,
                b.remark,
                b.bind_num bindNum,
                b.status,
                b.point,
                b.content,
                b.add_desc addDesc,
                b.create_time createTime,
                u.phone phone
        FROM
          kf_burst b
                LEFT JOIN kf_burst_type bt ON b.burst_type_id = bt.id
                LEFT JOIN kf_user u ON b.user_id = u.id
        <where>
            <if test="id != null">
               AND b.id = #{id}
            </if>
        </where>
    </select>

    <select id="selectBurstListByUid" parameterType="java.lang.Integer" resultType="java.util.Map">
        SELECT
        b.*,
        bt.content_id,
        c.content_type
        FROM
        kf_burst b
        LEFT JOIN kf_content_burst bt ON bt.burst_id = b.id
        LEFT JOIN kf_content c ON c.id = bt.content_id
        WHERE
        bt.status = 1
        <if test="uid != null">
            AND b.user_id = #{uid}
        </if>
        ORDER BY
        b.create_time DESC
    </select>

    <insert id="insertBurstSql" parameterType="com.kanfa.news.admin.entity.Burst" useGeneratedKeys="true" keyProperty="id">
        insert into kf_burst(
            user_name,
            user_id,
            address,
            point,
            remark,
            content)
        values(#{userName},
        #{userId},
        #{address},
        #{point},
        #{remark},
        #{content}
       )
    </insert>-->
</mapper>