<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kanfa.news.info.mapper.BurstResourceMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.kanfa.news.admin.entity.BurstResource" id="burstResourceMap">
        <result property="id" column="id"/>
        <result property="burstId" column="burst_id"/>
        <result property="type" column="type"/>
        <result property="title" column="title"/>
        <result property="url" column="url"/>
        <result property="burstSource" column="burst_source"/>
        <result property="videomd" column="videomd"/>
        <result property="uploadStatus" column="upload_status"/>
        <result property="isDelete" column="is_delete"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

</mapper>